<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <link rel="icon" href="data:;base64,="><!--<link rel="icon" href="data:;base64,iVBORw0KGgo=">-->
    <title>SiGL DMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- style sheets-->
    <link href="css/bootstrap_3.1.1.css" rel="stylesheet" />
    <link href="css/bootstrap-table.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/toastr.css" rel="stylesheet" />
    <link href="css/isteven-multi-select.css" rel="stylesheet" />
    <link href="css/xeditable.css" rel="stylesheet" />
    <link href="css/ui-grid-unstable.css" rel="stylesheet" />

    <!-- Custom Style - Samuels -->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Valera+Round" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" type="text/css" rel="stylesheet" />
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" type="text/css" rel="stylesheet" />

    <!--library scripts-->
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/angular-resource.js"></script>
    <script src="js/vendor/angular-cookies.js"></script>
    <script src="js/vendor/angular-ui-router.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/angular-sanitize.js"></script> <!--not sure if needed-->
    <script src="js/vendor/bootstrap-table.js"></script>
    <script src="js/vendor/ui-utils.js"></script> <!--for data masking ui-mask="(999)-****", unique, validate-->
    <script src="js/vendor/ui-bootstrap-tpls-0.11.0.js"></script> <!-- for date picker, and tooltips-->
    <script src="js/vendor/toastr.js"></script>
    <script src="js/vendor/isteven-multi-select.js"></script>
    <script src="js/vendor/angular-input-modified.min.js"></script> <!--determine if form is dirty/clean-->
    <script src="js/vendor/xeditable.min.js"></script> <!-- editable table rows (from label to input) -->
    <script src="js/vendor/inputmask.min.js"></script><!--better phone masking for optional ext-->
    <script src="js/vendor/jquery.inputmask.js"></script>
    <script src="js/vendor/ui-grid-unstable.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>


    <!--application scripts-->
    <script src="js/app.js"></script>

    <!--Services-->
    <script src="services/LaMPResource.js"></script>
    <script src="services/businessServices.js"></script>

    <!-- Controllers -->
    <script src="js/SiGLControllers.js"></script>
    <!--<script src="js/datePickrCtrl.js"></script>-->

</head>

<body ng-app="app">
    <!--<div ng-include src="'partials/header.html'"></div>-->
    <!--HEADER START-->
    <div ng-controller="mainCtrl" class="navbar navbar-default">
        <div class="container-fluid" style="background-color:gray;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/usgsLogo.png">
                </a>
            </div>
            <div>
                <div style="width:60%;float:left;">
                    <h2>SiGL: Data Management System (DMS)</h2>
                </div>
                <div class="pull-right" ng-show="isAuth.val">
                    <div><span>Welcome, {{usersName}}</span></div>
                    <div><button ng-controller="navCtrl" ng-click="logout()">LOG OFF</button></div>
                </div>
            </div>
            <br clear="all" />
            <div ng-show="isAuth.val" class="container">

                <div class="collapse navbar-collapse" id="">
                    <ul class="nav navbar-nav">
                        <li><a style="color:#000" ui-sref="home" ui-sref-active="active">Home</a></li>
                        <li><a style="color:#000" ui-sref="account({uID:userID})" ui-sref-active="active">Your account</a></li>
                        <li><a style="color:#000" ui-sref="help" ui-sref-active="active">FAQs/Help</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <br clear="all" />
    <!--HEADER END-->
    <!--<div ng-include src="'partials/nav.html'" style="margin-top:31px"></div>-->

    <div class="page-loading"><div id="loading"><div id="loadingcontent"><p id="loadingspinner" style=""><img src="images/loading1.gif" /></p></div></div></div>
    <div class="container">
        <div ui-view></div>
    </div>

</body>
</html>

<!-- MODAL for 'new site name' for copy off sitelist -->
<script type="text/ng-template" id="newSiteNameModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Copy Site</h3>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <form name="newSiteName">
                <div class="form-group">
                    <label class="col-md-9 control-label req" for="inputNAME">New Site Name:</label>
                    <div class="col-md-12">
                        <input class="form-control" id="inputNAME" name="NAME" ng-model="newSite.NAME" type="text" required />
                    </div>
                </div>
            </form><br clear="all" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</script>

<!-- MODALs for "are you sure you want to remove this thing (Keyword or URL) -->
<script type="text/ng-template" id="removemodal.html">
    <div class="modal-header">
        <h3 class="modal-title">Remove {{what}}</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove this {{what}}: <b>{{keyToRmv}}</b></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- MODAL for add new org NAME to database-->
<script type="text/ng-template" id="AddOrgNAME.html">
    <!--<div class="modal-header">
        <h3 class="modal-title"></h3>  "Organization Name"
    </div>-->

    <div class="modal-body">
        <form name="newOrgForm">
            <div class="form-group">
                <label class="col-md-4 control-label req" for="inputNAME">Add new {{what}}:</label>
                <div class="col-md-6">
                    <input class="form-control" id="inputNAME" name="NAME" ng-model="newOrg.NAME" type="text" placeholder="Organization Name" required />
                </div>
            </div>
        </form><br clear="all" />
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="newOrgForm.$invalid" ng-click="ok()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- MODAL for add new org DIVISION to database-->
<script type="text/ng-template" id="AddOrgDIV.html">
    <!--<div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>-->

    <div class="modal-body">
        <form name="newOrgForm">
            <div class="form-group">
                <label class="col-md-4 control-label">&nbsp;</label>
                <div class="col-md-6">
                    <label><span>{{orgName}},</span></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label req" for="inputDIVISION">Add new {{what}}:</label>
                <div class="col-md-6">
                    <input class="form-control" id="inputDIVISION" name="DIVISION" ng-model="newOrg.DIVISION" type="text" placeholder="Division Name" required />
                </div>
            </div>
        </form> <br clear="all" />
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="newOrgForm.$invalid" ng-click="ok()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- MODAL for add new org SECTION to database-->
<script type="text/ng-template" id="AddOrgSEC.html">
    <!-- <div class="modal-header">  </div>-->

    <div class="modal-body">
        <form name="newOrgForm">
            <div class="form-group">
                <label class="col-md-4 control-label">&nbsp;</label>
                <div class="col-md-6">
                    <label><span>{{orgName}},<br /> {{orgDiv}},</span></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label req" for="inputSECTION">Add new {{what}}:</label>
                <div class="col-md-6">
                    <input class="form-control" id="inputSECTION" name="SECTION" ng-model="newOrg.SECTION" type="text" placeholder="Section Name" required />
                </div>
            </div>
        </form><br clear="all" />
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="newOrgForm.$invalid" ng-click="ok()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

