
<!-- Project Details View -->
<div ng-if="aProject.project_id != undefined">
    <form class="sigl-edit-form" name="projectForm.Info">
        <fieldset>
            <legend>
                Project Information
                <button type="button" ng-if="aProject.project_id != undefined" class="sigl-btn btn-right project-info-btn" ng-click="openProjectCreate()">Edit Project</button>
                <button type="button" ng-if="aProject.project_id == undefined" class="sigl-btn btn-right project-info-btn" ng-click="openProjectCreate()">Create Project</button>
            </legend>

            <!-- Project Name -->
            <div class="sigl-edit-form-group">
                <label for="name">Project Name:</label>
                <span>{{aProject.name}}</span>
            </div>

            <hr />
            <!-- Project Duration -->
            <div class="sigl-edit-form-group">
                <label for="proj_duration_id">Project Duration:</label>
                <span>{{(DurationList | filter: {proj_duration_id: aProject.proj_duration_id})[0].duration_value}}</span>
            </div>

            <!-- Project Status -->
            <div class="sigl-edit-form-group">
                <label for="proj_status_id">Project Status:</label>
                <span>{{(StatusList | filter: {proj_status_id: aProject.proj_status_id})[0].status_value}}</span>
            </div>

            <!-- Project Start Date  ng-controller="datePickrCtrl"-->
            <div class="sigl-edit-form-group">
                <label for="start_date">Project Start Date:</label>
                <span>{{(aProject.start_date || '---') | date: 'MM/dd/yyyy'}}</span>
            </div>

            <!-- Project Completion Date -->
            <div class="sigl-edit-form-group">
                <label for="end_date">Project Completion Date:</label>
                <span>{{(aProject.end_date || '---') | date: 'MM/dd/yyyy'}}</span>
            </div>

            <hr />

            <!-- Project Objectives -->
            <div class="sigl-edit-form-group">
                <label>Project Objectives:</label>
                <ul ng-if="ProjectObjectives.length > 0">
                    <li style="list-style:none" ng-repeat="o in ProjectObjectives">{{o.objective}}</li>
                </ul>
                <span ng-if="ProjectObjectives.length == 0">---</span>
            </div>

            <!-- Project Monitoring Coordination -->
            <div class="sigl-edit-form-group">
                <label>Monitoring Coordination Effort:</label>
                <ul ng-if="ProjectMonitorCoords.length > 0">
                    <li style="list-style:none" ng-repeat="mc in ProjectMonitorCoords">{{mc.effort}}</li>
                </ul>
                <span ng-if="ProjectMonitorCoords.length == 0">---</span>
            </div>

            <!-- Project Description -->
            <div class="sigl-edit-form-group">
                <label for="description">Description:</label>
                <textarea readonly="readonly" class="form-control" id="description" type="text" rows="3" ng-model="aProject.description" elastic />
            </div>

            <hr />
            <!-- Project Keywords -->
            <div class="sigl-edit-form-group">
                <label for="ProjKEYWORDS">Project Keywords:</label>
                <ul ng-if="ProjectKeywords.length > 0">
                    <li style="list-style:none" data-ng-repeat="key in ProjectKeywords">{{key.term}}</li>
                </ul>
                <span ng-if="ProjectKeywords.length == 0">---</span>
            </div>


            <hr />
            <!-- Project Websites -->
            <div class="sigl-edit-form-group">
                <label for="url">Project Websites:</label>
                <ul ng-if="urls.length > 0">
                    <li style="list-style:none" data-ng-repeat="key in urls">{{key}}</li>
                </ul>
                <span ng-if="urls.length == 0">---</span>
            </div>

            <!-- Project Additional Info -->
            <div class="sigl-edit-form-group">
                <label for="additional_info">Additional Information:</label>
                <textarea class="form-control" id="additional_info" type="text" rows="3" readonly="readonly" elastic ng-model="aProject.additional_info" />
            </div>

        </fieldset>
    </form>
</div>
