<div class="sigl-edit-form">
    <legend style="margin-bottom: 25px; margin-top: 0;">Publications</legend>
</div>

<div class="form-group" ng-if="ProjPubs.length > 0">

    <div class="current-data-list" ng-repeat="p in ProjPubs">

        <!-- form -->
        <form editable-form name="rowform" onshow="EditRowClicked()" onhide="CancelEditRowClick()" onaftersave="savePub($data, p.PUBLICATION_ID)" onbeforesave="ValidateAtLeastOne($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == p">
            <button type="submit" ng-disabled="rowform.$waiting" class="sigl-btn">
                Save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="sigl-btn">
                Cancel
            </button>
        </form>
        <div style="display:none">
            <span editable-text="p.PUBLICATION_ID" e-form="rowform" e-name="PUBLICATION_ID">{{p.PUBLICATION_ID}}</span>
            <span editable-text="p.SCIENCE_BASE_ID" e-form="rowform" e-name="SCIENCE_BASE_ID">{{p.SCIENCE_BASE_ID}}</span>
        </div>

        <div class="data-display">
            <div>
                <label class="title">Title:</label>
                <span class="publication-list-item-text" editable-text="p.TITLE" e-name="TITLE" e-form="rowform">{{ p.TITLE || '' }}</span>
            </div>
            <div>
                <label class="title">Description:</label>
                <span class="publication-list-item-text" editable-textarea="p.DESCRIPTION" e-elastic e-rows="5" e-cols="40" e-name="DESCRIPTION" e-form="rowform">{{ p.DESCRIPTION || '' }}</span>
            </div>
            <div>
                <label class="title">Website or location:</label>
                <span class="publication-list-item-text" editable-text="p.URL" e-name="URL" e-form="rowform">{{ p.URL || '' }}</span>
            </div>
        </div>
        <div class="data-controls" ng-show="!rowform.$visible">
            <button class="sigl-btn btn-small" ng-click="rowform.$show()">Edit</button>
            <button class="sigl-btn btn-orange btn-small" ng-click="RemoveData(p)">Delete</button>
        </div>
    </div>
</div>


<hr ng-if="ProjPubs.length > 0">



<form class="sigl-edit-form" name="projectForm.Pubs">
    <fieldset ng-disabled="isEditing">
        <div class="subhead">Add New Publication</div>
        <!-- Publication Title -->
        <div class="sigl-edit-form-group">
            <label for="inputTITLE">
                Publication title:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Enter the title of your publication in this field. Do not include any other information."
                      data-placement="right" tooltip>
                </span>
            </label>
            <input id="inputTITLE" name="TITLE"
                   type="text" placeholder="" ng-required="!(newPub.TITLE.length || newPub.DESCRIPTION.length || newPub.URL.length)"
                   ng-model="newPub.TITLE" />
        </div>

        <!-- Publication description -->
        <div class="sigl-edit-form-group">
            <label for="inputDESCRIPTION">
                Publication description:
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Enter the citation or briefly describe the content and format of your publication."
                      data-placement="right" tooltip>
                </span>
            </label>
            <textarea id="inputDESCRIPTION" rows="3" elastic
                      type="text" placeholder="" ng-required="!(newPub.TITLE.length || newPub.DESCRIPTION.length || newPub.URL.length)"
                      ng-model="newPub.DESCRIPTION" />

        </div>

        <!-- Publication website/location -->
        <div class="sigl-edit-form-group">
            <label for="inputURL">
                Pub website or location:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="If the publication is online, enter the URL. Otherwise, provide information on how to obtain a copy of the publication."
                      data-placement="right" tooltip>
                </span>
            </label>
            <input class="form-control" id="inputURL" name="URL"
                   type="text" placeholder="" ng-required="!(newPub.TITLE.length || newPub.DESCRIPTION.length || newPub.URL.length)"
                   ng-model="newPub.URL" />
        </div>

        <!--submit button-->
        <div class="sigl-edit-form-group" style="text-align: right;">
            <button class="sigl-btn" style="width:80px;margin-right:10px" ng-click="AddPub(projectForm.Pubs.$valid, newPub)">
                Add
            </button>
        </div>

    </fieldset>
</form>
