<form class="form-horizontal" name="projectForm">
    <fieldset>
        <legend>Contact Organizations</legend>
        <!--<div class="form-group">
            <label class="col-md-2 control-label" for="inputNAME">Project Name</label>
            <div class="col-md-4">
                <input class="form-control" id="inputNAME"
                       type="text" placeholder="Project Name"
                       ng-model="vm.project.NAME" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="inputDESCRIPTION">Description</label>
            <div class="col-md-10">
                <textarea id="inputDESCRIPTION"
                          type="text" rows="3"
                          placeholder="Project Description"
                          ng-model="vm.project.DESCRIPTION" />
            </div>
        </div>

        <div class="form-group" ng-controller="datePickrCtrl">
            <label class="col-md-2 control-label"
                   for="inputSTART_DATE">Start Date</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control" id="inputSTART_DATE" name="sd"
                           type="text" datepicker-popup="{{format}}"
                           is-open="datepickrs.sd"
                           ng-model="vm.project.START_DATE" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event, 'sd')">
                            <i class="glyphicon glyphicon-calendar" />
                        </button>
                    </span>
                </div>
            </div>

        </div>

        <div class="form-group" ng-controller="datePickrCtrl">
            <label class="col-md-2 control-label" for="inputEND_DATE">End Date</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control" id="inputEND_DATE" name="ed"
                           type="text" datepicker-popup="{{format}}"
                           is-open="datepickrs.ed"
                           ng-model="vm.project.END_DATE" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event, 'ed')">
                            <i class="glyphicon glyphicon-calendar" />
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="vm.submit()">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>-->
    </fieldset>
</form>