<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">Project List</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <!--<th data-field="button" data-align="left" data-sortable="false"><button class="btn-primary" type="button" ng-click="vm.toggleImage()">vm.showImage ? "Hide " : "Show "}}Image</button></th>-->
                    <th data-field="name" data-align="center" data-sortable="true">Project Name</th>
                    <th data-field="startDate" data-align="center" data-sortable="true">Start Date</th>
                    <th data-field="sCt" data-align="center" data-sortable="true">Project ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pr in projects">
                    <!--ng-show will download images initially, ng-if will not download unless clicked
        <td><img ng-if="vm.showImage" ng-src="pr.imageURL}}" style="width:6%" /></td>-->
                    <td><a ui-sref="projectDetail({projectId: pr.PROJECT_ID})">{{pr.NAME}}</a></td>
                    <td>{{pr.START_DATE | date}}</td>
                    <td>{{pr.PROJECT_ID}}</td>
                    <td><a class="btn btn-primary" ui-sref="projectEdit.info({projectId: pr.PROJECT_ID})">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>