<style type="text/css">
    .dataTable th, .dataTable td {
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .maxWidth {
        display: inline-block;
        position: relative;
        width: 80%;
    }

    .progress {
        background-image: linear-gradient(to bottom, #cccaca 0px, #cccaca 100%);
    }
    .activeClass.active {
      background-color: #de5030;
  }
    .btn-black {
        background: #444444;    
        border:1px solid black !important;           
    }
    .btn-black:hover, btn-black:focus{
        background-color: black;
        cursor: pointer;
        transition: all 0.09s ease 0s;
    }
</style>
<!---->
<div ng-class="{'hidden': !showLoading}" class="page-loading">
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner" style="">
                <span ng-if="max > 20">Saves with over 20 sites will take awhile to complete. Please do not interrupt the save process or data may be lost.</span>
                <uib-progressbar class="maxWidth" max="max" value="dynamic">
                    <span ng-if="dynamic <= 0">Processing...</span>
                    <span ng-if="dynamic != max" style="color:white; white-space:nowrap;">{{dynamic}} / {{max}} Sites Updated</span>
                    <!--<span ng-if="dynamic == max">Redirecting...</span>-->
                </uib-progressbar>
                <br />
                <img src="images/loading1.gif" />
            </p>
        </div>
    </div>
</div>

<div class="sigl-edit-form">
    <legend style="margin-bottom: 25px; margin-top: 0;">
        Sites:
        <div class="btn-group">
            <label class="btn btn-primary activeClass" style="background:lightgray;" ng-model="radioModel" uib-btn-radio="'Single'">
                <a style="color:darkgray;" ui-sref="projectEdit.site.siteList({id:thisProject.project_id})">SINGLE SITE EDITING</a>
            </label>
            <label class="btn btn-primary activeClass" ng-model="radioModel" uib-btn-radio="'Spreadsheet'">SPREADSHEET MODE</label>
        </div>
    </legend>
</div>

<div><i style="font-size:small;">Spreadsheet mode works much like Excel; each row is an individual site. You can highlight and copy multiple cells or rows, 
    or you can click and drag from the lower right cell corner to populate an entire column. You can also copy and paste directly from the Excel SiGL Site Worksheet.</i>
    <br/>
    <i style="font-size:small;">Right-click any cell to add or remove a row (site). Drag column headers to adjust column widths.</i>
    <br/>
    <i style="font-size:small;">Gray cells cannot be modified. Some cells have data validation applied and will turn red if the value entered does not meet 
    the requirements. Red cells must be resolved before saving. The more sites, the longer the save will take. Please be patient.</i>
</div>
<div class="col-md-12" style="padding:0;margin:0;height:600px;overflow:hidden">
    <hot-table datarows="projSites" settings="tableSettings" hot-id="tableinstance" class="dataTable">
        <hot-column data="SiteId" read-only title="'SiGL_ID'"></hot-column><!-- 0 -->
        <hot-column data="Name" title="'Site Name *'" validator="requiredValidator"></hot-column><!-- 0 -->
        <hot-column data="latitude" title="'Latitude *'" validator="latValidator" type="'numeric'" format="'00.00000'"></hot-column><!-- 1 -->
        <hot-column data="longitude" title="'Longitude *'" validator="longValidator" type="'numeric'" format="'-00.00000'"></hot-column><!-- 2 -->
        <hot-column data="Country" title="'Country *'" type="'dropdown'" source="countryArray" validator="requiredValidator"></hot-column><!-- 3 -->
        <hot-column data="State" title="'State *'" type="'dropdown'" source="stateArray" validator="requiredValidator"></hot-column><!-- 4 -->
        <hot-column data="Lake" title="'Lake *'" type="'dropdown'" source="lakeArray" validator="requiredValidator"></hot-column><!-- 5 -->
        <hot-column data="Waterbody" title="'Waterbody'"></hot-column><!-- 6 -->
        <hot-column data="Watershed" title="'Watershed (HUC8)'" validator="watershedValidator"></hot-column><!-- 7 -->
        <hot-column data="Description" title="'Description'"></hot-column><!-- 8 -->
        <hot-column data="Status" title="'Status'" type="'dropdown'" source="statusArray"></hot-column><!-- 9 -->
        <hot-column data="ResourceStrings" title="'Resources'" type="'dropdown'" validator="matchingResValue"></hot-column><!-- source="resourceArray" 10 -->
        <hot-column data="MediaStrings" title="'Media'" type="'dropdown'" validator="matchingMedValue"></hot-column><!-- 11 -->
        <hot-column data="FrequencyStrings" title="'Frequencies'" type="'dropdown'" validator="matchingFreqValue"></hot-column><!-- 12 -->
        <!--        <hot-column data="StartDate" title="'Start Date'" type="'date'" date-format="'MM/DD/YYYY'" correct-format validator="dateValidator"></hot-column><!-- 13 -->
        <hot-column data="StartDate" title="'Start Date'" date-format="'MM/DD/YYYY'" correct-format type="'date'" validator="dateValidator"></hot-column>
        <hot-column data="EndDate" title="'End Date'" type="'date'" date-format="'MM/DD/YYYY'" validator="dateValidator"></hot-column><!-- 14 -->
        <hot-column data="SamplePlatform" title="'Sample Platform'"></hot-column><!-- 15 -->
        <hot-column data="AdditionalInfo" title="'Additional Info'"></hot-column><!-- 16 -->
        <hot-column data="url" title="'Site URL'" validator="urlValidator"></hot-column><!-- 17 -->
        <!--  start parameters -->
        <hot-column read-only title="'Phys'"></hot-column><!---------- 18 -------------->
        <hot-column data="Acidity" type="'checkbox'" title="'Acidity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 19 -->
        <hot-column data="Alkalinity" type="'checkbox'" title="'Alkalinity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 20 -->
        <hot-column data="Bed sediment" type="'checkbox'" title="'Bed sediment'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 21 -->
        <hot-column data="Conductivity, specific" type="'checkbox'" title="'Conductivity, specific'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 22 -->
        <hot-column data="Discharge" type="'checkbox'" title="'Discharge'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 23 -->
        <hot-column data="Fluorescence" type="'checkbox'" title="'Fluorescence'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 24 -->
        <hot-column data="Habitat" type="'checkbox'" title="'Habitat'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 25 -->
        <hot-column data="Land use/land cover" type="'checkbox'" title="'Land use/land cover'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 26 -->
        <hot-column data="Photosynthetically active radiation (PAR)" type="'checkbox'" title="'Photosynthetically active radiation (PAR)'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 27-->
        <hot-column data="Precipitation" type="'checkbox'" title="'Precipitation'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 28-->
        <hot-column data="Sampling depth" type="'checkbox'" title="'Sampling depth'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 29-->
        <hot-column data="Secchi depth/light penetration" type="'checkbox'" title="'Secchi depth/light penetration'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 30-->
        <hot-column data="Sediments - other" type="'checkbox'" title="'Sediments - other'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 31-->
        <hot-column data="Solids (total dissolved, total settleable, total suspended)" type="'checkbox'" title="'Solids (total dissolved, total settleable, total suspended)'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 32-->
        <hot-column data="Suspended sediments" type="'checkbox'" title="'Suspended sediments'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 33-->
        <hot-column data="Temperature - air" type="'checkbox'" title="'Temperature - air'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 34-->
        <hot-column data="Temperature - water" type="'checkbox'" title="'Temperature - water'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 35-->
        <hot-column data="Time of travel" type="'checkbox'" title="'Time of travel'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 36-->
        <hot-column data="Turbidity" type="'checkbox'" title="'Turbidity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 37-->
        <hot-column data="Velocity" type="'checkbox'" title="'Velocity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 38-->
        <hot-column data="Water color" type="'checkbox'" title="'Water color'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 39-->
        <hot-column data="Water currents" type="'checkbox'" title="'Water currents'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 40-->
        <hot-column data="Water level" type="'checkbox'" title="'Water level'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 41-->
        <hot-column data="Wave height" type="'checkbox'" title="'Wave height'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 42-->
        <hot-column data="Wind speed and/or direction" type="'checkbox'" title="'Wind speed and/or direction'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 43-->
        <hot-column data="Other physical parameter" type="'checkbox'" title="'Other physical parameter'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 44-->
        <hot-column read-only title="'Chem'"></hot-column><!----------  45 ------------------->
        <hot-column data="Carbon - any form" type="'checkbox'" title="'Carbon - any form'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 46-->
        <hot-column data="Cyanide" type="'checkbox'" title="'Cyanide'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 47-->
        <hot-column data="Dissolved oxygen" type="'checkbox'" title="'Dissolved oxygen'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 48-->
        <hot-column data="Major ions" type="'checkbox'" title="'Major ions'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 49-->
        <hot-column data="Mercury" type="'checkbox'" title="'Mercury'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 50-->
        <hot-column data="Metals" type="'checkbox'" title="'Metals'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 51-->
        <hot-column data="Nutrients - nitrogen - any form" type="'checkbox'" title="'Nutrients - nitrogen - any form'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 52-->
        <hot-column data="Nutrients - other" type="'checkbox'" title="'Nutrients - other'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 53-->
        <hot-column data="Nutrients - phosphorus - any form" type="'checkbox'" title="'Nutrients - phosphorus - any form'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 54-->
        <hot-column data="Organic compounds - other" type="'checkbox'" title="'Organic compounds - other'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 55-->
        <hot-column data="Organics - pesticides" type="'checkbox'" title="'Organics - pesticides'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 56-->
        <hot-column data="Oxygen demand" type="'checkbox'" title="'Oxygen demand'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 57-->
        <hot-column data="pH" type="'checkbox'" title="'pH'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 58-->
        <hot-column data="Radiochemicals" type="'checkbox'" title="'Radiochemicals'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 59-->
        <hot-column data="Salinity" type="'checkbox'" title="'Salinity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 60-->
        <hot-column data="Sulphurs" type="'checkbox'" title="'Sulphurs'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 61-->
        <hot-column data="Wastewater indicators (PPCP)" type="'checkbox'" title="'Wastewater indicators (PPCP)'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 62-->
        <hot-column data="Other chemical parameter" type="'checkbox'" title="'Other chemical parameter'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 63-->
        <hot-column read-only title="'Bio'"></hot-column><!----------  64 ----------------->
        <hot-column data="Algae/phytoplankton" type="'checkbox'" title="'Algae/phytoplankton'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 65-->
        <hot-column data="Amphibians" type="'checkbox'" title="'Amphibians'" checked-template="'x'" id="phy_1" unchecked-template="'.'"></hot-column><!-- 66-->
        <hot-column data="Birds" type="'checkbox'" title="'Birds'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 67-->
        <hot-column data="Carcasses" type="'checkbox'" title="'Carcasses'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 68-->
        <hot-column data="Chlorophyll" type="'checkbox'" title="'Chlorophyll'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 69-->
        <hot-column data="Disease/deformities/tumors" type="'checkbox'" title="'Disease/deformities/tumors'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 70-->
        <hot-column data="Fish" type="'checkbox'" title="'Fish'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 71-->
        <hot-column data="Invasive species" type="'checkbox'" title="'Invasive species'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 72-->
        <hot-column data="Invertebrates" type="'checkbox'" title="'Invertebrates'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 73-->
        <hot-column data="Mammals" type="'checkbox'" title="'Mammals'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 74-->
        <hot-column data="Mussels" type="'checkbox'" title="'Mussels'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 75-->
        <hot-column data="Parasites" type="'checkbox'" title="'Parasites'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 76-->
        <hot-column data="Plant/vegetation" type="'checkbox'" title="'Plant/vegetation'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 77-->
        <hot-column data="Population/community" type="'checkbox'" title="'Population/community'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 78-->
        <hot-column data="Zooplankton" type="'checkbox'" title="'Zooplankton'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 79-->
        <hot-column data="Other biological parameter" type="'checkbox'" title="'Other biological parameter'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 80-->
        <hot-column read-only title="'Micro'"></hot-column><!------------- 81 ---------------->
        <hot-column data="Bacteria - other" type="'checkbox'" title="'Bacteria - other'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 82-->
        <hot-column data="Fecal indicator bacteria (e.g. E. coli)" type="'checkbox'" title="'Fecal indicator bacteria (e.g. E. coli)'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 83-->
        <hot-column data="Pathogens" type="'checkbox'" title="'Pathogens'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 84-->
        <hot-column data="Other microbiological parameter" type="'checkbox'" title="'Other microbiological parameter'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 85-->
        <hot-column read-only title="'Tox'"></hot-column><!--------------- 86 -------------->
        <hot-column data="Acute toxicity" type="'checkbox'" title="'Acute toxicity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 87-->
        <hot-column data="Biological toxins" type="'checkbox'" title="'Biological toxins'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 88-->
        <hot-column data="Chronic toxicity" type="'checkbox'" title="'Chronic toxicity'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 89-->
        <hot-column data="Other toxicological parameter" type="'checkbox'" title="'Other toxicological parameter'" checked-template="'x'" unchecked-template="'.'"></hot-column><!-- 90-->
        <!-- end parameters back-button-->
    </hot-table>
</div>
<div>
    <button class="sigl-btn btn-small" ng-click="save()">Save</button>
    <button type="button" class="sigl-btn btn-black btn-small" ng-click="reset()">Revert</button>
    <button type="button" class="sigl-btn btn-orange btn-small" ng-click="goBack()">Cancel</button>
</div>

