<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="data:;base64,="><!--<link rel="icon" href="data:;base64,iVBORw0KGgo=">-->
    <title>SiGL DMS</title>
    <!--<base href="/">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-toggle-switch-bootstrap-3.css">
    <link rel="stylesheet" href="bower_components/bootstrap-table.css">
    <link rel="stylesheet" href="bower_components/datetimepicker.css">
    <link rel="stylesheet" href="bower_components/font-awesome.css">
    <link rel="stylesheet" href="bower_components/isteven-multi-select.css">
    <link rel="stylesheet" href="bower_components/ladda.min.css">
    <link rel="stylesheet" href="bower_components/lato.css">
    <link rel="stylesheet" href="bower_components/leaflet.css">
    <link rel="stylesheet" href="bower_components/mobile-angular-ui-base.css">
    <link rel="stylesheet" href="bower_components/mobile-angular-ui-desktop.css">
    <link rel="stylesheet" href="bower_components/mobile-angular-ui-hover.css">
    <link rel="stylesheet" href="bower_components/toaster.css">
    <link rel="stylesheet" href="bower_components/toastr.css">
    <link rel="stylesheet" href="bower_components/xeditable.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap_3.1.1.css">
    <link rel="stylesheet" href="css/handsontable.full.css">
    <link rel="stylesheet" href="css/isteven-multi-select.css">
    <link rel="stylesheet" href="css/oldoverwrite.css">
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/toastr.css">
    <link rel="stylesheet" href="css/xeditable.css">
    <link rel="stylesheet" href="css/custom/login.css">
    <link rel="stylesheet" href="css/custom/pages.css">
    <link rel="stylesheet" href="css/custom/projecteditview.css">
    <link rel="stylesheet" href="css/custom/universal.css">
    <!-- endinject -->
    <!-- bower:js -->
    <script src="bower_components/jquery.js"></script>
    <script src="bower_components/angular.js"></script>
    <script src="bower_components/angular-animate.js"></script>
    <script src="bower_components/angular-cookies.js"></script>
    <script src="bower_components/angular-filter.js"></script>
    <script src="bower_components/angular-input-modified.js"></script>
    <script src="bower_components/angular-resource.js"></script>
    <script src="bower_components/angular-route.js"></script>
    <script src="bower_components/angular-toggle-switch.js"></script>
    <script src="bower_components/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-table.js"></script>
    <script src="bower_components/bootstrap.js"></script>
    <script src="bower_components/checklist-model.js"></script>
    <script src="bower_components/datetimepicker.js"></script>
    <script src="bower_components/event.js"></script>
    <script src="bower_components/indeterminate.js"></script>
    <script src="bower_components/index.js"></script>
    <script src="bower_components/isteven-multi-select.js"></script>
    <script src="bower_components/ladda-angular.js"></script>
    <script src="bower_components/ladda.min.js"></script>
    <script src="bower_components/leaflet-src.js"></script>
    <script src="bower_components/mask.js"></script>
    <script src="bower_components/mobile-angular-ui.gestures.js"></script>
    <script src="bower_components/mobile-angular-ui.js"></script>
    <script src="bower_components/moment.js"></script>
    <script src="bower_components/ng-file-upload.js"></script>
    <script src="bower_components/ngMask.js"></script>
    <script src="bower_components/scrollpoint.js"></script>
    <script src="bower_components/spin.js"></script>
    <script src="bower_components/toaster.js"></script>
    <script src="bower_components/toastr.js"></script>
    <script src="bower_components/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ui-scroll.js"></script>
    <script src="bower_components/uploader.js"></script>
    <script src="bower_components/validate.js"></script>
    <script src="bower_components/xeditable.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="component/SiGLControllers.js"></script>
    <script src="shared/directives/SiGLDirectives.js"></script>
    <script src="component/settings/settingsCtrl.js"></script>
    <script src="component/resources/resourcesCtrl.js"></script>
    <script src="component/projSite/siteModalCtrl.js"></script>
    <script src="component/projSite/projSiteListCtrl.js"></script>
    <script src="component/projSite/projMultiSiteEditCtrl.js"></script>
    <script src="component/projSite/duplicateSiteModalCtrl.js"></script>
    <script src="component/projPublication/projPublicationCtrl.js"></script>
    <script src="component/project/projectModalCtrl.js"></script>
    <script src="component/project/projectListCtrl.js"></script>
    <script src="component/project/projectEditCtrl.js"></script>
    <script src="component/projData/projDataCtrl.js"></script>
    <script src="component/projCooperator/projCooperatorCtrl.js"></script>
    <script src="component/projContact/projContactCtrl.js"></script>
    <script src="component/organization/organizationInfoCtrl.js"></script>
    <script src="component/organization/organizationCtrl.js"></script>
    <script src="component/organization/addOrgModalCtrl.js"></script>
    <script src="component/main/mainCtrl.js"></script>
    <script src="component/logInOut/LogInOutCtrl.js"></script>
    <script src="component/help/helpCtrl.js"></script>
    <script src="component/dataManager/dataManagerModal.js"></script>
    <script src="component/dataManager/dataManagerCtrl.js"></script>
    <script src="services/LaMPResource.js"></script>
    <script src="services/businessServices.js"></script>
    <script src="component/ModalsCtrl.js"></script>
    <script src="component/jquery.inputmask.bundle.js"></script>
    <script src="app.js"></script>
    <!-- endinject -->

    <link href="component/libs/handsontable/dist/handsontable.full.css" rel="stylesheet" />
    <script src="component/libs/handsontable/dist/handsontable.full.js"></script>

    <script src="component/libs/ngHandsontable/dist/ngHandsontable.js"></script>
</head>

<body ng-app="app">
    <!--<div ng-include src="'partials/header.html'"></div>-->
    <!--HEADER START-->
    <div ng-controller="mainCtrl" id="main-nav">
        <a href="http://usgs.gov/" target="_blank" id="usgs-logo">
            <img alt="Brand" src="images/usgsLogo.png" />
        </a>
        <h2><b>SiGL</b><em>:</em>Data Management System (DMS)</h2>

        <div id="account-controls" ng-show="isAuth.val">
            <h3>Welcome, <a ui-sref="dataManagers.DMList({id: userID})">{{usersName}}</a></h3>
            <button ng-controller="logoutCtrl" ng-click="logout()">LOG OFF</button>
        </div>


        <ul id="nav-links" ng-show="isAuth.val">
            <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
            <!--
            -->
            <li ng-if="Role == 'Admin'"><a ui-sref="settings" ui-sref-active="active">Settings</a></li>
            <!--
            -->
            <li><a ui-sref="dataManagers.DMList({id: userID})" ui-sref-active="active">Your account</a></li>
            <!--
            -->
            <li><a ui-sref="help" ui-sref-active="active">FAQs/Help</a></li>

        </ul>

    </div>
    <br clear="all" />
    <!--HEADER END-->

    <div ng-class="{'hidden': !stateIsLoading.showLoading}" class="page-loading">
        <div id="loading">
            <div id="loadingcontent"><p id="loadingspinner" style=""><img src="images/loading1.gif" /></p></div>
        </div>
    </div>
    <div id="body-wrapper">
        <div ui-view></div>
    </div>

</body>
</html>

<!-- MODAL for 'new site name' for copy off sitelist -->
<script type="text/ng-template" id="duplicateSiteMdlView.html">
    <div class="modal-header">
        <h3 class="modal-title">Copy Site</h3>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <form name="newSiteName">
                <div class="form-group">
                    <label class="col-md-10 control-label req" for="name">New Site Name:</label>
                    <div class="col-md-12">
                        <input class="form-control" id="name" name="name" ng-enter="ok()" ng-model="newSite.name" type="text" required />
                    </div>
                </div>
            </form><br clear="all" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</script>

<!-- MODALs for "are you sure you want to remove this thing (Keyword or URL) -->
<script type="text/ng-template" id="removemodal.html">
    <div class="modal-header">
        <h3 class="modal-title">Remove {{what}}</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove this {{what}}: <b>{{keyToRmv}}</b></p>
    </div>
    <div class="modal-footer">
        <button class="sigl-btn btn-orange" ng-click="cancel()">Cancel</button>
        <button class="sigl-btn" ng-click="ok()">OK</button>
    </div>
</script>

<!-- MODAL for add new org NAME to database-->
<script type="text/ng-template" id="AddOrganizationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Organizations</h3>
    </div>
    <div class="modal-body">
        <form name="newOrgForm" class="sigl-modal-form">
            <fieldset>
                <div class="sigl-modal-form-group">
                    <label>Organization:</label>
                    <div ng-show="!showAddNAMEinput">
                        <select ng-disabled="disableOrgSelect" ng-model="selectedOrgID.id" ng-options="org.organization_id as org.organization_name for org in orgList | orderBy: 'organization_name'" ng-change="getDivs(selectedOrgID.id)"></select>
                        <span ng-show="!showAddDIVISIONinput && !showAddSECTIONinput" style="display: block; font-size: 8pt;"><a href ng-click="addOrgName()">Add Organization</a></span>
                    </div>
                    <div ng-show="showAddNAMEinput">
                        <input class="form-control" id="name" name="name" ng-model="OrgName.value" type="text" placeholder="New Organization Name" />
                        <button class="sigl-btn btn-small" ng-click="addThisName(OrgName.value)">Add</button>
                        <button class="sigl-btn btn-small" ng-click="neverMind('org')">Cancel</button>
                    </div>

                </div>

                <div class="sigl-modal-form-group">
                    <label>Division</label>
                    <div ng-show="!showAddDIVISIONinput">
                        <select ng-disabled="disableDivSelect" ng-model="selectedDivID.id" ng-options="div.division_id as div.division_name for div in divList | orderBy: 'division_name'" ng-change="getSecs(selectedDivID.id)">
                            <!--<option ng-repeat="div in divList | orderBy: 'division_name'" value="{{div.division_id}}">{{div.division_name}}</option>-->
                        </select>
                        <span ng-show="orgsBeenChosen && !showAddSECTIONinput" style="display: block; font-size: 8pt;"><a href ng-click="addDivName()">Add Division</a></span>
                    </div>
                </div>
                <div ng-show="showAddDIVISIONinput">
                    <input id="inputDIVISION" name="DIVISION" ng-model="divisionName.value" type="text" placeholder="New Division" />
                    <button class="sigl-btn btn-small" ng-click="addThisDivision(divisionName.value, selectedOrgID.id)">Add</button>
                    <button class="sigl-btn btn-small" ng-click="neverMind('div')">Cancel</button>
                </div>



                <div class="sigl-modal-form-group">
                    <label>Section</label>
                    <div ng-show="!showAddSECTIONinput">
                        <select ng-disabled="disableSecSelect" ng-model="selectedSecID.id" ng-options="sec.section_id as sec.section_name for sec in secList | orderBy: 'section_name'" ng-change="setSecs(selectedSecID.id)"></select>
                        <span ng-show="divsBeenChosen" style="display: block; font-size: 8pt;"><a href ng-click="addSecName()">Add Section</a></span>
                    </div>
                    <div ng-show="showAddSECTIONinput">
                        <input id="section" name="section" ng-model="sectionName.value" type="text" placeholder="New Section" />
                        <button class="sigl-btn btn-small" ng-click="addThisSection(sectionName.value, selectedDivID.id)">Add</button>
                        <button class="sigl-btn btn-small" ng-click="neverMind('sec')">Cancel</button>
                    </div>
                </div>


            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <button class="sigl-btn" ng-click="ok()">Close</button>
    </div>
</script>

<!-- Project List with specific Lookup Modal -->
<script type="text/ng-template" id="lookupProjectListModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Project List</h3>
    </div>
    <div class="modal-body">
        <div>List of Projects that have this {{Type}}:</div>
        <table class="sigl-table">
            <thead>
                <tr>
                    <th class="name">Project Name&nbsp;<a ng-click="plsort_by('Name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="start_date">Start Date&nbsp;<a ng-click="plsort_by('start_date')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="end_date">End Date&nbsp;<a ng-click="plsort_by('end_date')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="DataManager.lname">Data Manager&nbsp;<a ng-click="plsort_by('DataManager.lname')"><i class="glyphicon glyphicon-sort"></i></a></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="pr in ProjectList | orderBy:plsortingOrder:plreverse">
                    <td><a ui-sref="projectEdit.info({id: pr.project_id})">{{pr.name}}</a></td>
                    <td>{{pr.start_date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{pr.end_date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{pr.DataManager.fname}} {{pr.DataManager.lname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()">OK</button>
    </div>

</script>