<div class="sigl-edit-form">
    <legend style="margin-bottom: 25px; margin-top: 0;">Data Sources</legend>
</div>

<div class="form-group" ng-if="ProjData.length > 0">

    <div class="current-data-list" ng-repeat="d in ProjData">
        <!-- form -->
        <form editable-form name="rowform" onshow="EditRowClicked()" onhide="CancelEditRowClick()" onaftersave="saveData($data, d.data_host_id)" onbeforesave="ValidateAtLeastOne($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == d">
            <button type="submit" ng-disabled="rowform.$waiting" class="sigl-btn">
                Save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="sigl-btn btn-orange">
                Cancel
            </button>
        </form>

        <div class="data-display">
            <div style="display:none"><span editable-text="d.project_id" e-form="rowform" e-name="project_id">{{d.project_id}}</span></div>
            <div>
                <label class="title">Data management system or data description:</label>
                <span class="data-list-item" editable-textarea="d.description" e-rows="5" e-cols="40" e-elastic e-name="description" e-form="rowform">{{ d.description || '' }}</span>
            </div>
            <div>
                <label class="title">Data Hosting Entity:</label>
                <span class="data-list-item" editable-text="d.host_name" e-name="host_name" e-form="rowform">{{ d.host_name || '' }}</span>
            </div>
            <div>
                <label class="title">Online Data Location:</label>
                <span class="data-list-item" editable-text="d.portal_url" e-http-prefix e-name="portal_url" e-form="rowform">{{d.portal_url || ''}}</span>
            </div>
        </div>
        <div class="data-controls" ng-show="!rowform.$visible">
            <button class="sigl-btn btn-small" ng-click="rowform.$show()">Edit</button>
            <button class="sigl-btn btn-orange btn-small" ng-click="RemoveData(d)">Delete</button>
        </div>

    </div>
</div>


<hr />
<form class="sigl-edit-form" name="projectForm.Data">
    <fieldset ng-disabled="isEditing">
        <div class="subhead">Add New Data Source</div>
        <!-- Data Management System   (taken from form tag above == not sure what it does   novalidate) -->
        <div class="sigl-edit-form-group">
            <label for="description">
                Data management system or data description:
                <span class="glyphicon glyphicon-question-sign sigl-tooltip" data-toggle="tooltip"
                      title="Describe your project data and where it resides (USGS NWIS, the Water Quality Portal, Access database, Excel spreadsheet, etc.). If your project uses multiple systems at different locations, enter each as a separate Data entry."
                      data-placement="right" tooltip>
                </span>
            </label>
            <textarea class="form-control" id="description" rows="3" name="description" elastic
                      type="text" placeholder="" ng-required="!(newData.host_name.length || newData.portal_url.length || newData.description.length)"
                      ng-model="newData.description" />
        </div>

        <!-- Data Hosting Entity -->
        <div class="sigl-edit-form-group">
            <label for="host_name">
                Data Hosting Entity:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the entity, person, or organization that hosts or holds your data." data-placement="right" tooltip>
                </span>
            </label>
            <input class="form-control" name="host_name" type="text" ng-required="!(newData.host_name.length || newData.portal_url.length || newData.description.length)" ng-model="newData.host_name" />
        </div>

        <!-- Online Data Location -->
        <div class="sigl-edit-form-group">
            <label for="portal_url">
                Online Data Location:
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="If data is available online, provide the entire URL of the data’s location (be sure to include the ' http://'). Only enter one address." data-placement="right" tooltip>
                </span>
            </label>
            <input class="form-control" name="portal_url" type="url" placeholder="" ng-required="!(newData.host_name.length || newData.portal_url.length || newData.description.length)"
                   ng-model="newData.portal_url" http-prefix />
        </div>

        <!--submit button-->
        <div class="sigl-edit-form-group" style="text-align: right;">
            <button class="sigl-btn" ng-click="AddData(projectForm.Data.$valid, newData)">Add</button>
        </div>

    </fieldset>
</form>
