<div class="sigl-edit-form">
    <legend style="margin-bottom: 25px; margin-top: 0;">Contacts</legend>
</div>

<!--<button ng-click="delete(c)"><i class="glyphicon glyphicon-remove"></i></button>-->

<div class="form-group" ng-if="ProjContacts.length > 0">

    <div class="current-data-list" ng-repeat="c in ProjContacts">
        <!--<td><button ng-click="RemoveContact(c)"><i class="glyphicon glyphicon-remove"></i></button></td>-->
        <!-- form -->
        <!-- form -->
        <form editable-form name="rowform" onshow="EditRowClicked($index)" onhide="    CancelEditRowClick()" onaftersave="    saveContact($data, c.contact_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == c">
            <button type="submit" ng-disabled="rowform.$waiting || rowform.$invalid" class="sigl-btn">
                Save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="sigl-btn btn-orange">
                Cancel
            </button>
        </form>

        <div style="display:none">
            <span editable-text="c.contact_id" e-form="rowform" e-name="contact_id">{{c.contact_id}}</span>
            <span editable-text="c.science_base_id" e-form="rowform" e-name="science_base_id">{{c.science_base_id}}xxx</span>
            <span editable-text="c.organization_system_id" e-form="rowform" e-name="organization_system_id">{{c.organization_system_id}}</span>
        </div>
        <!--  contact-display-->
        <div class="data-display">
            <div>
                <label class="title">Name:</label>
                <span editable-text="c.name" e-required e-style="width:25em;" e-name="name" onbeforesave="checkRequiredFields('name', $data)" e-form="rowform">{{ c.name }}</span>
            </div>
            <div>
                <label class="title">Email:</label>
                <span editable-text="c.email" e-style="width:25em;" e-required e-name="email" onbeforesave="checkRequiredFields('email', $data)" e-form="rowform"> {{ c.email || '' }}</span>
            </div>
            <div>
                <label class="title">Phone:</label>
                <span editable-text="c.phone" e-mask="(999) 999-9999 x?9?9?9?9?9?" e-restrict="reject" e-style="width:25em;" e-name="phone" e-form="rowform">{{ c.phone || '' }}</span>
            </div>

            <br>
            <span>{{c.OrgName}}<em ng-if="c.DivName">, {{c.DivName}}</em><em ng-if="c.SecName">, {{c.SecName}}</em></span>
            <div class="showHide">
                <button class="sigl-btn btn-small" ng-click="addNewOrg()">
                    Change Contact's Organization
                </button>
            </div>

        </div>
        <div class="data-controls" ng-show="!rowform.$visible">
            <button class="sigl-btn btn-small" ng-click="rowform.$show()">Edit</button>
            <button class="sigl-btn btn-orange btn-small" ng-click="RemoveContact(c)">Delete</button>
        </div>
    </div>
</div>
<hr ng-if="ProjContacts.length > 0">

<form class="sigl-edit-form" name="projectForm.Contact">

    <fieldset ng-disabled="isEditing">
        <div class="subhead">Add new contact</div>
        <!-- NAME -->
        <div class="sigl-edit-form-group" ng-class="{'has-error':projectForm.Contact.name.$invalid && projectForm.Contact.name.$dirty}">
            <label class="req" for="name">
                Name:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the contact's first and last name." data-placement="right" tooltip>
                </span>
            </label>
            <input class="form-control" id="name" name="name" type="text" ng-model="newContact.name" required />
        </div>
        <div class="sigl-edit-form-group">
            <label class="req">Organization</label>
            <select style="display:block;" class="form-control" name="selectedOrgID" ng-model="selectedOrgID" ng-options="o.organization_id as o.organization_name for o in allOrganizations | orderBy: 'organization_name'"
                    ng-change="getDivs(selectedOrgID)" required></select>
            <button class="sigl-form-add-new" ng-click="addNewOrg()">
                Add New
            </button>
        </div>

        <div class="sigl-edit-form-group">
            <label>Division</label>
            <select class="form-control" style="display: block" ng-model="selectedDivID" ng-options="d.division_id as d.division_name for d in alldivs | orderBy: 'division_name'" ng-change="getSecs(selectedDivID)"></select>
            <button class="sigl-form-add-new" ng-click="addNewOrg()">
                Add New
            </button>
        </div>

        <div class="sigl-edit-form-group">
            <label>Section</label>
            <select style="display: block" class="form-control" ng-model="selectedSecID" ng-options="s.section_id as s.section_name for s in allsecs | orderBy: 'section_name'"></select>
            <button class="sigl-form-add-new" ng-click="addNewOrg()">
                Add New
            </button>
        </div>

        <!-- Email -->
        <div class="sigl-edit-form-group" ng-class="{'has-error':projectForm.Contact.email.$invalid && projectForm.Contact.email.$dirty}">
            <label class="req" for="email">
                Email:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the contact's email address." data-placement="right" tooltip></span>
            </label>
            <input type="email" name="email" ng-model="newContact.email" required />
        </div>

        <!-- Phone restrict="reject" mask-validate="false" ng-value="newContact.phone"  -->
        <div class="sigl-edit-form-group" ng-class="{'has-error':projectForm.Contact.phone.$invalid && projectForm.Contact.phone.$dirty}">
            <label class="req" for="phone">
                Phone:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Enter the contact's phone number. To add an extension, immediately following the phone number type 'x' and then the extension number."
                      data-placement="right" tooltip>
                </span>
            </label>
            <input class="form-control" name="phone" type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="newContact.phone" required />
            <!--<input type="text" mask="(999) 999-9999 ?x?9?9?9?9?9?" ng-model="newContact.phone" name="phone" required>-->
        </div>


        <!--submit button-->
        <div class="sigl-edit-form-group" style="text-align: right;">
            <button class="sigl-btn" style="width:80px;margin-right:10px" ng-click="AddContact(projectForm.Contact.$valid)">
                Save
            </button>
        </div>

    </fieldset>
</form>
<style type="text/css">
    .showHide {
        display: none;
    }
</style>
