<div ng-show="matchingUsers">{{loggedInUser.Name}} : Your Account</div>


<!-- If this is the user logged -->
<form ng-show="matchingUsers || loggedInUser.Role == 'Admin'" editable-form class="form-horizontal" name="accountForm" id="account-page">
    <fieldset>
        <legend>Your Account: {{loggedInUser.Name}}</legend>

        <!-- Your Name -->
        <div class="account-form-group group-50">
            <label class="req" for="fname">Your Name:</label>
            <input name="fname" ng-model="DM.fname"
                   type="text" placeholder="First Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)"
                   required />
            <input name="lname" ng-model="DM.lname"
                   type="text" placeholder="Last Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)"
                   required />
        </div>

        <!-- Username-->
        <div class="account-form-group static">
            <label class="req" for="username">
                Username:
                <span ng-show="DM.data_manager_id != undefined" class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Usernames cannot be modified. If you need to request a different username, contact sigl@usgs.gov"
                      data-placement="right" tooltip></span>
            </label>
            <input ng-show="DM.data_manager_id == undefined" id="username" name="username" ng-model="DM.username"
                   type="text" placeholder="User Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur()"
                   required />
            <span ng-show="DM.data_manager_id != undefined" class="static-label">{{DM.username}}</span>
        </div>

        <!-- Organization-->
        <div ng-show="!changeOrg" class="account-form-group static">
            <label for="organization_id">Organization:</label>
            <div class="static-label">
                <span>{{dmOrg.OrganizationName}}</span><span ng-show="dmOrg.DivisionName">, {{dmOrg.DivisionName}}</span><span ng-show="dmOrg.SectionName">, {{dmOrg.SectionName}}</span>
            </div>
            <button type="button" class="sigl-btn btn-blue btn-small" ng-show="!changeOrg" ng-click="changeMyOrgBtn($event)">
                Change Organization
            </button>
        </div>

        <!--Hide this unless they want to change the org -->
        <div ng-show="changeOrg">
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Organization:
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                          title="After selecting your Organization (and Division/Office and Section, if applicable) in the drop-down menu, click the “Add Organization” button to save. Repeat if multiple organizations apply."
                          data-placement="right" tooltip></span>
                </label>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedOrgID" ng-options="org.organization_id as org.organization_name for org in allOrgs | orderBy: 'organization_name'" ng-change="getDivs(selectedOrgID)"></select>
                    <button class="sigl-btn btn-blue btn-small" ng-click="AddNewOrg()">
                        Add New
                    </button>
                </div>&nbsp;

                
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Division</label>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedDivID" ng-options="div.division_id as div.division_name for div in alldivs | orderBy: 'division_name'" ng-change="getSecs(selectedDivID)"></select>
                    <button class="sigl-btn btn-blue btn-small" ng-click="AddNewOrg()">
                        Add New
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Section</label>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedSecID" ng-options="sec.section_id as sec.section_name for sec in allsecs | orderBy: 'section_name'"></select>
                    <button class="sigl-btn btn-blue btn-small" ng-click="AddNewOrg()">
                        Add New
                    </button>
                </div>
            </div>
            <!--update button (only show for existing data manager view, not new dm)-->
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <span ng-show="DM.data_manager_id != undefined" class="pull-left">
                        <button class="sigl-btn btn-blue" style="margin-right: 15px;"
                                ng-click="UpdateMyOrg()">
                            Update
                        </button>
                    </span>
                    <span ng-show="DM.data_manager_id != undefined" class="pull-left">
                        <button class="sigl-btn btn-orange"
                                ng-click="DontUpdateOrg()">
                            Cancel
                        </button>
                    </span>
                    <!--<span>
                        Don't see the Organization Name, Division or Section?
                        <a href ng-click="AddNewOrg()"> Click here to add it.</a>
                    </span>-->
                </div>
            </div>
        </div>
        <!--Hide this unless they want to change the org -->
        <!-- Email -->
        <div class="account-form-group required">
            <label class="req" for="email">
                Email:
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Enter the contact's email address."
                      data-placement="right" tooltip></span>
            </label>
            <input name="email" type="email" placeholder="" ng-model="DM.email" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur()" required />
        </div>

        <!-- Phone -->
        <div class="account-form-group">
            <label class="req" for="phone">
                Phone:
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Enter the contact's phone number. To add an extension, immediately following the phone number type 'x' and then the extension number."
                      data-placement="right" tooltip>
                </span>
            </label>
            <input type="text" name="phone" mask="(999) 999-9999 x?9?9?9?9?9?" ng-model="DM.phone" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur()">
        </div>

        <!-- Role-->
        <div class="account-form-group static">
            <label for="role_id">Role:</label>
            <select ng-show="DM.data_manager_id == undefined" name="role_id" ng-model="DM.role_id"
                    ng-options="r.role_id as r.role_name for r in RoleList | orderBy: 'role_name'" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur()"
                    required>
                <option value=""></option>
            </select>
            <span class="static-label" ng-show="DM.data_manager_id != undefined">{{DM.roleName}}</span>
        </div>

        <!-- start Update password section -->
        <div class="account-form-group" ng-hide="DM.data_manager_id == undefined">
            <label for="inputPassword">Password:</label>
            <button ng-show="!changePass" ng-click="changeMyPassBtn($event)" class="sigl-btn btn-blue">
                Update Password
            </button>
            <!--START new password inputs-->
            <div ng-show="changePass">
                <div style="margin-bottom:10px">
                    <span>Password must be at least 8 characters long, contain at least 1 uppercase, 1 lowercase and 1 numeric. Passwords may contain any of these special characters ONLY: "_", "$", "#"</span>
                </div>
                <div class="account-form-group">
                    <label for="NewPassword">New Password:</label>
                    <input class="form-control" name="inputNPASSWORD" password-validate type="password" ng-model="pass.newP" />
                    <!--<span class="ui-state-error h5-message" ng-show="(accountForm.inputNPASSWORD.$error.passwordValidate)"><span class="h5-arrow"></span><span class="h5-content">For password requirement, see the '?' icon above.</span></span>-->
                </div>
                <div class="account-form-group">
                    <label for="NewPassword">Confirm Password:</label>
                    <input class="form-control" name="inputCPASSWORD" type="password" password-validate same-as="pass.newP" ng-model="pass.confirmP" />
                </div>
                <span class="ui-state-error h5-message" ng-show="(accountForm.inputCPASSWORD.$error.passwordValidate)"><span class="h5-arrow"></span><span class="h5-content">For password requirement, see the '?' icon above.</span></span>
                <span class="ui-state-error h5-message" ng-show="(accountForm.inputCPASSWORD.$error.passwordMismatch)"><span class="h5-arrow"></span><span class="h5-conent">Mismatch password</span></span>

                <!--END new password inputs-->
                <!--START update/cancel button-->
                <div class="account-form-group">
                    <div style="margin-top:7px">
                        <button class="sigl-btn btn-small btn-blue" ng-disabled="accountForm.inputNPASSWORD.$error.passwordValidate || accountForm.inputCPASSWORD.$error.passwordValidate || accountForm.inputCPASSWORD.$error.passwordMismatch"
                                ng-click="ChangePassword()">
                            Change Password
                        </button>
                        <button class="sigl-btn btn-small btn-orange"
                                style="margin-right:10px"
                                ng-click="DontChangePass()">
                            Cancel
                        </button>
                    </div>
                </div>
                <!--END update/cancel button-->
            </div>
        </div>
        <!-- end Update password section -->
        <!-- start new dm password  section -->
        <div class="form-group required" ng-if="DM.data_manager_id == undefined" ng-class="{'has-error':accountForm.inputNPASSWORD.$invalid && accountForm.inputNPASSWORD.$dirty}">
            <div class="col-md-7 col-md-offset-3" style="margin-bottom:10px">
                <span class="glyphicon glyphicon-question-sign">&nbsp;Password must be at least 8 characters long, contain at least 1 uppercase, 1 lowercase and 1 numeric. Passwords may contain any of these special characters ONLY: "_", "$", "#"</span>
            </div>
            <label class="col-md-3 control-label" for="inputPassword">New Password:</label>
            <div class="col-md-3">
                <input class="form-control" ng-model="pass.newP" name="inputNPASSWORD" id="inputNPASSWORD" type="password" password-validate required />
                <span class="ui-state-error h5-message" ng-show="(accountForm.inputNPASSWORD.$error.passwordValidate)"><span class="h5-arrow"></span><span class="h5-content">For password requirement, see the '?' icon above.</span></span>
            </div>
        </div>
        <div class="form-group required" ng-if="DM.data_manager_id == undefined" ng-class="{'has-error':accountForm.CPASSWORD.$invalid && accountForm.CPASSWORD.$dirty}">
            <label class="col-md-3 control-label" for="inputPassword">Confirm Password:</label>
            <div class="col-md-3">
                <input class="form-control" id="inputCPASSWORD" name="inputCPASSWORD" type="password" placeholder="" password-validate same-as="pass.newP" ng-model="pass.confirmP" required />
                <span class="ui-state-error h5-message" ng-show="(accountForm.inputCPASSWORD.$error.passwordValidate)"><span class="h5-arrow"></span><span class="h5-content">For password requirement, see the '?' icon above.</span></span>
                <span class="ui-state-error h5-message" ng-show="(accountForm.inputCPASSWORD.$error.passwordMismatch)"><span class="h5-arrow"></span><span class="h5-conent">Mismatch password</span></span>
            </div>
        </div>
        <!--end new member password section-->
        <!--submit and cancel buttons-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button ng-if="DM.data_manager_id == undefined" class="btn btn-primary"
                            ng-click="save(accountForm.$valid)">
                        <span>Create</span>
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>

<!-- If this isn't the user logged in -->
<form ng-show="!matchingUsers && loggedInUser.Role != 'Admin'" class="form-horizontal" name="noName">
    <legend>USER ACCOUNT INFORMATION</legend>

    <!-- Your Name -->
    <div class="form-group">
        <label class="col-md-3 control-label">Name:</label>
        <div class="col-md-6"><span>{{DM.fname}} {{DM.lname}}</span></div>
    </div>

    <!-- Username-->
    <div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div class="col-md-6"><span>{{DM.username}}</span></div>
    </div>

    <!-- Organization-->
    <div class="form-group">
        <label class="col-md-3 control-label">Organization:</label>
        <div class="col-md-6">
            <span>{{dmOrg[0].name}}</span><span ng-show="dmOrg[0].division">, {{dmOrg[0].division}}</span><span ng-show="dmOrg[0].section">, {{dmOrg[0].section}}</span>
        </div>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label class="col-md-3 control-label">Email:</label>
        <div class="col-md-6"><span>{{DM.email}}</span></div>
    </div>

    <!-- Phone -->
    <div class="form-group">
        <label class="col-md-3 control-label">Phone:</label>
        <div class="col-md-6"><span>{{DM.phone}}</span></div>
    </div>

    <!-- Role-->
    <div class="form-group">
        <label class="col-md-3 control-label">Role:</label>
        <div class="col-md-6"><span>{{DM.roleName}}</span></div>
    </div>
</form>


<div class="form-group" ng-if="DMProjects.length > 0" id="account-projects">
    <legend>YOUR PROJECTS</legend>
    <script>
        //var sortingOrder = 'Name';
    </script>

    <table class="table">
        <thead>
            <tr>
                <th class="name">Project Name&nbsp;<a ng-click="sort_by('name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="site_count">Site Count&nbsp;<a ng-click="sort_by('site_count')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Data Manager</th>
                <th>Organization</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="p in DMProjects| orderBy:sortingOrder:reverse">
                <td>
                    <span text="p.name" name="name" e-form="rowform">{{ p.name }}</span>
                </td>
                <td>
                    <span text="p.site_count" name="site_count" e-form="rowform">{{p.site_count}}</span>
                </td>
                <td>
                    <span editable-select="p.data_manager_id" e-name="data_manager_id" e-form="rowform" e-ng-options="d.data_manager_id as d.fullname for d in allDMs | orderBy: 'lname'">
                        {{ (allDMs | filter: {data_manager_id: p.data_manager_id})[0].fullname || '' }}
                    </span>
                </td>
                <td>
                    <span text="p.organization_name" name="organization_name" e-form="rowform">{{p.organization_name}}</span>
                </td>
                <td ng-show="matchingUsers || loggedInUser.Role == 'Admin'" style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onaftersave="updateDMonProj($data, p.project_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == p">
                        <button type="submit" ng-disabled="rowform.$waiting" class="sigl-btn btn-blue btn-small">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="sigl-btn btn-orange btn-small">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="sigl-btn btn-small" ng-click="rowform.$show()">Reassign Project</button>
                        <button class="sigl-btn btn-orange btn-small" ng-click="RemoveProject(p)">Delete</button>
                    </div>
                </td>
                <td ng-show="!matchUsers"></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-bottom:10px">
    <button class="sigl-btn" style="margin-top:35px; margin-bottom:55px;" back-button>
        <span>Back to Data Manager List</span>
    </button>
</div>