<div ng-if="accountRole =='Admin'">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th class="monitorCoordination">Monitoring Coordination&nbsp;<a ng-click="MCsort_by('effort')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Projects.length">Project Cnt&nbsp;<a ng-click="MCsort_by('Projects.length')"><i class="glyphicon glyphicon-sort"></i></a><span ng-if="MCCntLoading"><img style="max-width:20px" src="images/loading1.gif" /></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mc in monitorCoordsList | orderBy: MCsortingOrder:MCreverse">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="MCrowform" onaftersave="saveMonitorCoordination($data, mc.monitoring_coordination_id)" ng-show="MCrowform.$visible" class="form-buttons form-inline" shown="inserted == mc">
                        <button type="submit" ng-disabled="MCrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="MCrowform.$waiting" ng-click="MCrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!MCrowform.$visible">
                        <button class="btn btn-primary" ng-click="MCrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteMonitorCoordination(mc)">del</button>
                    </div>
                </td>
                <td>
                    <span editable-text="mc.effort" e-name="effort" e-form="MCrowform">{{ mc.effort || '' }}</span>
                </td>
                <td>
                    <span><a ng-click="showProjectCntModal(mc.Projects, 'Monitor Coordination')">{{mc.Projects.length}}</a></span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addMCButtonShowing" class="btn btn-primary" ng-click="showAddMCClicked()">Add New Monitoring Coordination</button>

    <div ng-show="showAddMCForm">
        <form class="form-horizontal" name="lookupForm.monCoordFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="effort">Monitoring Coordination:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="effort" name="effort" type="text" placeholder="" ng-model="newMC.effort" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddMonitorCoordination(lookupForm.monCoordFm.$valid, newMC)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindMC()">
            Cancel
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="effort">Monitoring Coordination&nbsp;<a ng-click="sort_by('effort')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mc in monitorCoordsList | orderBy:sortingOrder:reverse">
                <td>{{ mc.effort || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
