<div class="sigl-section">
    <div class="section-heading">{{User}} : Your Projects ({{ProjCnt}})</div>
    <script>
        //var sortingOrder = 'Name';
    </script>
    <br/>
    

    <p class="section-text">
        <span>Click on the project name to view and edit project and site information.</span>
        <a ui-sref="projectEdit.info({id:0})" class="section-bottom-button pull-right">
            <i class="glyphicon glyphicon-plus"></i>  Create new Project</a>
    </p>

    <table class="sigl-table">
        <thead>
            <tr>
                <th class="name">Project Name&nbsp;<a ng-click="sort_by('name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th ng-if="userRole == 'Admin'" class="lname">Manager Last Name&nbsp;<a ng-click="sort_by('lname')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th ng-if="userRole == 'Admin'" class="fname">Manager Fisrt Name&nbsp;<a ng-click="sort_by('fname')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th ng-if="userRole == 'Admin'" class="organization_name">Organization&nbsp;<a ng-click="sort_by('organization_name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="site_count">Site Count&nbsp;<a ng-click="sort_by('site_count')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="last_edited_stamp">Last Edited&nbsp;<a ng-click="sort_by('last_edited_stamp')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="pr in projects | orderBy:sortingOrder:reverse">
                <td><a ui-sref="projectEdit.info({id: pr.project_id})">{{pr.name}}</a></td>
                <td ng-if="userRole == 'Admin'">{{pr.lname}}</td>
                <td ng-if="userRole == 'Admin'">{{pr.fname}}</td>
                <td ng-if="userRole == 'Admin'">{{pr.organization_name}}</td>
                <td>{{pr.site_count}}</td>
                <td>{{pr.last_edited_stamp | date: 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

    <a style="margin-top:5px;" ui-sref="projectEdit.info({id:0})" class="section-bottom-button pull-right">
        <i class="glyphicon glyphicon-plus"></i>  Create new Project
    </a> 
    <br clear="all"/>
</div>
