body {

}
.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    outline: none;
    padding: 8px 31px 8px;
    position: relative;
    text-decoration: none;
}
.wizard .active {
    background: #007ACC;
    color: #fff;
}
.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 4px;
    top:7px;
}
.sigl-login-wrapper {
    float:left;
    background: #e0e0e0;
    border-radius: 6px;
    -moz-border-radius: 6px; /*firefox 3.6 and earlier */
    border: darkgreen solid 1px;
}
@media screen and (min-width: 1200px){
    .sigl-login-wrapper{ 
        width:40%;
        margin:2% 0 0 0; 
        padding: 1%;
        background:#e0e0e0;
        border-radius:6px;
        -moz-border-radius:6px;
        border:darkgreen solid 1px;
    }
}
@media screen and (max-width: 1200px){ 
    .blog-login-wrapper{ 
        width: 40%; 
        margin: 2% 0 0 0; 
        padding: 1%; 
        background: #e0e0e0; 
        border-radius: 6px; 
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */ 
        border: darkgreen solid 1px; 
    } 
}
@media screen and (max-width: 600px) {
    .blog-login-wrapper {
        width: 80%;
        margin: 2% 0 0 0;
        padding: 1%;
        background: #e0e0e0;
        border-radius: 6px;
        -moz-border-radius: 6px; /* Firefox 3.6 and earlier */
        border: darkgreen solid 1px;
    }
}
.sigl-login-label {
    float:left;
    /*width:70%;
    margin:0 0 0 15%;*/
    padding: 1%;
    /*text-align: center;*/
}
.sigl-login-element {
    float:left;
    width:70%;
    margin: 0 0 0 15%;
    padding: 1% 0 0 0;
    text-align: center;
}
.sigl-login-button {
    float: left; 
    width: 100%; 
    margin: 0 0 0 0; 
    padding: 5% 0 0 0; 
    text-align: center; 
} 
.blog-login-error{ 
    float: left; 
    width: 100%; 
    margin: 0 0 0 0; 
    padding: 0 0 0 0; 
    text-align: center; 
    color: red;
} 
