<div>{{accountUser.Name}} : Your Account</div>

<h2></h2>
<!-- If this is the user logged -->
<form ng-show="matchingUsers" editable-form class="form-horizontal" name="accountForm">
    <fieldset>
        <legend>YOUR ACCOUNT INFORMATION</legend>

        <!-- Your Name -->
        <div class="form-group required" ng-class="{'has-error':accountForm.NAME.$invalid && accountForm.NAME.$dirty}">
            <label class="col-md-3 control-label req" for="inputFNAME">Your Name:</label>
            <div class="col-md-3">
                <input class="form-control" id="inputFNAME" name="FNAME" ng-model="DM.FNAME"
                       type="text" placeholder="First Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)"
                       required />
            </div>
            <div class="col-md-3">
                <input class="form-control" id="inputLNAME" name="LNAME" ng-model="DM.LNAME"
                       type="text" placeholder="Last Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)"
                       required />
            </div>
        </div>

        <!-- Username-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="inputUSERNAME">Username:</label>
            <div class="col-md-3">
                <span>{{DM.USERNAME}}</span>
            </div>
        </div>

        <!-- Organization-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="inputORGANIZATION_ID">Organization:</label>
            <div class="col-md-6">
                <span>{{dmOrg[0].NAME}}</span><span ng-show="dmOrg[0].DIVISION">, {{dmOrg[0].DIVISION}}</span><span ng-show="dmOrg[0].SECTION">, {{dmOrg[0].SECTION}}</span>
            </div>
            <button ng-show="!changeOrg" ng-click="changeMyOrgBtn($event)">
                Change My Organization
            </button>
        </div>

        <!--Hide this unless they want to change the org -->
        <div ng-show="changeOrg">
            <div class="form-group">
                <label class="col-md-3 control-label">Organization:</label>
                <div class="col-md-6">
                    <select class="form-control" id="inputORGANIZATION_N" name="NAME"
                            ng-model="selectedOrgName.value" ng-change="filterDivs($data)"
                            ng-options="o.ORGANIZATION_ID as o.NAME for o in OrgNameArray | orderBy: 'NAME'">
                        <option value="">Choose an Organization to add</option>
                    </select>
                </div>&nbsp;
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="After selecting your Organization (and Division/Office and Section, if applicable) in the drop-down menu, click the “Add Organization” button to save. Repeat if multiple organizations apply."
                      data-placement="right" tooltip>
                </span>
                <div class="col-md-6"><a href ng-click="AddOrgName()">Add a new organization</a></div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Division</label>
                <div class="col-md-6">
                    <select class="form-control" id="inputORGANIZATION_DIV" name="DIVISION"
                            ng-model="selectedOrgDiv.value" ng-change="filterSecs($data)"
                            ng-options="d.ORGANIZATION_ID as d.DIVISION for d in filteredDivs | orderBy: 'DIVISION'">
                        <option value=""></option>
                    </select>
                </div>
                <a href ng-click="AddDivName()" ng-show="selectedOrgName.value > 0">Add a new division</a>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Section</label>
                <div class="col-md-6">
                    <select class="form-control" id="inputORGANIZATION_SEC" name="SECTION"
                            ng-model="selectedOrgSec.value"
                            ng-options="s.ORGANIZATION_ID as s.SECTION for s in filteredSecs | orderBy: 'SECTION'">
                        <option value=""></option>
                    </select>
                </div>
                <a href ng-show="showAddSecButton" ng-hide="selectedOrgDiv.value == '' || selectedOrgDiv.value == null" ng-show="selectedOrgDiv.value" ng-click="AddSecName()">Add a new section</a>
            </div>
            <!--update button-->
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <span>
                        <button class="btn btn-primary"
                                style="width:80px;margin-right:10px"
                                ng-click="UpdateMyOrg()">
                            Update
                        </button>
                    </span>
                    <span>
                        <button class="btn btn-primary"
                                style="margin-right:10px"
                                ng-click="DontUpdateOrg()">
                            Never mind
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!--Hide this unless they want to change the org -->
        <!-- Email -->
        <div class="form-group required">
            <label class="col-md-3 control-label req" for="inputEMAIL">Email:</label>
            <div class="col-md-6">
                <input class="form-control" id="inputEMAIL" name="EMAIL" type="email" placeholder="" ng-model="DM.EMAIL" required />
            </div>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="Enter the contact's email address."
                  data-placement="right" tooltip>
            </span>
        </div>

        <!-- Phone -->
        <div class="form-group">
            <label class="col-md-3 control-label req" for="inputPHONE">Phone:</label>
            <div class="col-md-6">
                <input class="form-control" id="inputPHONE" name="PHONE"
                       type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}"
                       ng-model="DM.PHONE" />

            </div>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="Enter the contact's phone number. To add an extension, immediately following the phone number type 'x' and then the extension number."
                  data-placement="right" tooltip>
            </span>
        </div>

        <!-- Role-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="inputROLE">Role:</label>
            <div class="col-md-3">
                <span>{{accountUser.Role}}</span>
            </div>
        </div>

        <!-- start Update password section -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="inputPassword">Password:</label>
            <div class="col-md-6">
                <button ng-show="!changePass" ng-click="changeMyPassBtn($event)">
                    Update My Password
                </button>
                <!--START new password inputs-->

                <div class="col-md-12" ng-show="changePass">
                    <div class="col-md-10">
                        <label class="col-md-5 control-label" for="NewPassword">New Password:</label>
                        <div class="col-md-7"><input class="form-control" id="inputNPASSWORD" name="NPASSWORD" type="password" placeholder="" password-validate ng-model="pass.newP" /></div>
                        <span class="ui-state-error h5-message" ng-show="(accountForm.NPASSWORD.$error.passwordValidate)"><span class="h5-arrow"></span><span class="h5-content">For password requirement, click the '?' icon.</span></span>
                    </div>
                    <div style="margin-top:5px;" class="col-md-10">
                        <label class="col-md-5 control-label" for="ConfirmPassword">Confirm Password:</label>
                        <div class="col-md-7"><input class="form-control" id="inputCPASSWORD" name="CPASSWORD" type="password" placeholder="" password-validate same-as="pass.newP" ng-model="pass.confirmP" /></div>
                        <span class="ui-state-error h5-message" ng-show="(accountForm.CPASSWORD.$error.passwordValidate)"><span class="h5-arrow"></span><span class="h5-content">For password requirement, click the '?' icon.</span></span>
                        <span class="ui-state-error h5-message" ng-show="(accountForm.CPASSWORD.$error.passwordMismatch)"><span class="h5-arrow"></span><span class="h5-conent">Mismatch password</span></span>
                    </div>&nbsp;
                    <!--<tooltip title="...."/>-->
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                          title='Password must be at least 8 characters long, contain at least 1 uppercase, 1 lowercase and 1 numeric. Passwords may contain any of these special characters ONLY: "_", "$", "#"'
                          data-placement="right" tooltip>
                    </span>
                    <!--END new password inputs-->
                    <!--START update/cancel button-->
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top:7px">
                            <span>
                                <button class="btn btn-primary" ng-disabled="accountForm.NPASSWORD.$error.passwordValidate || accountForm.CPASSWORD.$error.passwordValidate || accountForm.CPASSWORD.$error.passwordMismatch"
                                        ng-click="ChangePassword()">
                                    Change Password
                                </button>
                            </span>
                            <span>
                                <button class="btn btn-primary"
                                        style="margin-right:10px"
                                        ng-click="DontChangePass()">
                                    Never mind
                                </button>
                            </span>
                        </div>
                    </div>
                    <!--END update/cancel button-->
                </div>
            </div>
        </div>

        <!-- end Update password section -->
    </fieldset>
</form>

<!-- If this isn't the user logged in -->
<form ng-show="!matchingUsers" editable-form class="form-horizontal" name="accountForm">
    <legend>USER ACCOUNT INFORMATION</legend>

    <!-- Your Name -->
    <div class="form-group">
        <label class="col-md-3 control-label">Name:</label>
        <div class="col-md-6"><span>{{DM.FNAME}} {{DM.LNAME}}</span></div>
    </div>

    <!-- Username-->
    <div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div class="col-md-6"><span>{{DM.USERNAME}}</span></div>
    </div>

    <!-- Organization-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="inputORGANIZATION_ID">Organization:</label>
        <div class="col-md-6">
            <span>{{dmOrg[0].NAME}}</span><span ng-show="dmOrg[0].DIVISION">, {{dmOrg[0].DIVISION}}</span><span ng-show="dmOrg[0].SECTION">, {{dmOrg[0].SECTION}}</span>
        </div>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label class="col-md-3 control-label">Email:</label>
        <div class="col-md-6"><span>{{DM.EMAIL}}</span></div>
    </div>

    <!-- Phone -->
    <div class="form-group">
        <label class="col-md-3 control-label">Phone:</label>
        <div class="col-md-6"><span>{{DM.PHONE}}</span></div>
    </div>

    <!-- Role-->
    <div class="form-group">
        <label class="col-md-3 control-label">Role:</label>
        <div class="col-md-6"><span>{{accountUser.Role}}</span></div>
    </div>
</form>


<div class="form-group" ng-if="DMProjects.length > 0">
    <legend>YOUR PROJECTS</legend>
    <table class="table">
        <thead><tr><th></th><th></th><th></th></tr></thead>
        <tbody>
            <tr ng-repeat="p in DMProjects">

                <td>
                    <div style="display:none">
                        <span editable-text="p.PROJECT_ID" e-form="rowform" e-name="PROJECT_ID">{{d.PROJECT_ID}}</span>
                        <span editable-text="p.NAME" e-form="rowform" e-name="NAME">{{d.NAME}}</span>
                        <span editable-text="p.START_DATE" e-form="rowform" e-name="START_DATE">{{d.START_DATE}}</span>
                        <span editable-text="p.END_DATE" e-form="rowform" e-name="END_DATE">{{d.END_DATE}}</span>
                        <span editable-text="p.URL" e-form="rowform" e-name="URL">{{d.URL}}</span>
                        <span editable-text="p.ADDITIONAL_INFO" e-form="rowform" e-name="ADDITIONAL_INFO">{{d.ADDITIONAL_INFO}}</span>
                        <span editable-text="p.SCIENCE_BASE_ID" e-form="rowform" e-name="SCIENCE_BASE_ID">{{d.SCIENCE_BASE_ID}}</span>
                        <span editable-text="p.DESCRIPTION" e-form="rowform" e-name="DESCRIPTION">{{d.DESCRIPTION}}</span>
                        <span editable-text="p.PROJ_STATUS_ID" e-form="rowform" e-name="PROJ_STATUS_ID">{{d.PROJ_STATUS_ID}}</span>
                        <span editable-text="p.PROJ_DURATION_ID" e-form="rowform" e-name="PROJ_DURATION_ID">{{d.PROJ_DURATION_ID}}</span>
                        <span editable-text="p.READY_FLAG" e-form="rowform" e-name="READY_FLAG">{{d.READY_FLAG}}</span>
                    </div>
                    <span text="p.NAME" name="NAME" e-form="rowform">{{ p.NAME }}</span>
                </td>
                <td>
                    <span editable-select="p.DATA_MANAGER_ID" e-name="DATA_MANAGER_ID" e-form="rowform" e-ng-options="d.DATA_MANAGER_ID as d.FULLNAME for d in allDMs | orderBy: 'LNAME'">
                        {{showDMs(p)}}
                    </span>
                </td>
                <td ng-show="matchingUsers" style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onaftersave="updateDMonProj($data, p.PROJECT_ID)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == p">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">Reassign Project</button>
                    </div>
                </td>
                <td ng-show="!matchUsers"></td>
            </tr>
        </tbody>
    </table>
</div>