<!--<div class="navbar navbar-fixed-top" style="background-color:gray;">
    <a style="float:left" class="navbar-brand" href="#">
        <img src="../images/usgsLogo.png" alt="" />
    </a>
    <div>SiGL: Data Management System (DMS)</div>-->
<div class="navbar navbar-default" >
    <div class="container-fluid" style="background-color:gray;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/usgsLogo.png">
            </a>
        </div>
        <div><h2>SiGL: Data Management System (DMS)</h2></div>
    </div>

    <div class="container">
        <h3><a class="navbar-header" style="color:#000" ui-sref="home">Home</a></h3>
        <div ng-controller="LogoutCtrl" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>

<!--    <div class="container">
        <a class="navbar-brand" ui-sref="home">Home</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div ng-controller="LogoutCtrl" class="navbar-collapse collapse">
            <ul ng-show="auth" class="nav navbar-nav">
                <li><button ng-click="logout()">Log Out</button></li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">

</nav>-->

<br clear="all" />
