<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <a class="navbar-brand" ui-sref="home">Home</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
        <!--    <li><a ui-sref="projectList">Project List</a></li>
                <li>
                    <a ui-sref="projectEdit.info({id:0})">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add Project
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>