
<legend>Contacts</legend>
<!--<button ng-click="delete(c)"><i class="glyphicon glyphicon-remove"></i></button>-->
<div class="form-group" ng-if="ProjContacts.length > 0" style="height:300px;overflow:auto;">
    <table class="table">
        <thead><tr><th></th><th></th></tr></thead>
        <tbody>
            <tr ng-repeat="c in ProjContacts">
                <!--<td><button ng-click="RemoveContact(c)"><i class="glyphicon glyphicon-remove"></i></button></td>-->
                <td style="white-space: nowrap;width:12%">
                    <!-- form -->
                    <form editable-form name="rowform" onaftersave="saveContact($data, c.CONTACT_ID)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == c">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="RemoveContact(c)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none">
                        <span editable-text="c.SCIENCE_BASE_ID" e-form="rowform" e-name="SCIENCE_BASE_ID">{c.SCIENCE_BASE_ID}}</span>
                        <span editable-text="c.ORG_ID" e-form="rowform" e-name="ORG_ID">{c.ORG_ID}}</span>
                    </div>

                    <span editable-text="c.NAME" e-style="width:25em;" e-name="NAME" e-form="rowform">{{ c.NAME || '' }}</span><br />
                    <span editable-select="c.orgName" e-name="orgName" e-ng-change="filterDivs($data)" e-form="rowform" e-ng-options="o.NAME as o.NAME for o in OrgNameArray | orderBy: 'NAME'">
                        {{showOrgName(c)}}
                    </span>
                    <span editable-select="c.divName" e-name="divName" e-ng-change="filterSecs($data)" e-form="rowform" e-ng-options="d.DIVISION as d.DIVISION for d in filtEDITdivs | orderBy: 'DIVISION'">
                        <span ng-show="c.divName">, </span> {{showDivName(c)}}
                    </span>
                    <span editable-select="c.secName" e-name="secName" e-form="rowform" e-ng-change="secChosen($data)" e-ng-options="s.SECTION as s.SECTION for s in filtEDITSecs | orderBy: 'SECTION'">
                        <span ng-show="c.secName">, </span> {{showSecName(c)}}
                    </span><br />
                    <!--<div><a href ng-click="AddOrgName()">Add a new organization</a><a href ng-click="AddDivName(c.orgName)">Add a new division</a><a href ng-click="AddSecName()">Add a new section</a></div><br />-->
                    <span editable-text="c.EMAIL" e-style="width:25em;" e-name="EMAIL" e-form="rowform">{{ c.EMAIL || '' }}</span><br />
                    <span editable-text="c.PHONE" e-ui-mask="(999) 999-9999" e-style="width:25em;" e-name="PHONE" e-form="rowform">{{ c.PHONE || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<hr />

<form class="form-horizontal" name="projectForm.Contact">
    <fieldset>
        <div>Add new contact</div>
        <!-- NAME -->
        <div class="form-group required">
            <label class="col-md-3 control-label req" for="inputNAME">Name:</label>
            <div class="col-md-6">
                <input class="form-control" id="inputNAME" name="NAME" type="text" placeholder="" ng-model="newContact.NAME" required />
            </div>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="Enter the contact's first and last name."
                  data-placement="right" tooltip>
            </span>
        </div>

        <!-- ORG section -->
        <div class="form-group required">
            <label class="col-md-3 control-label">Organization</label>
            <div class="col-md-6">
                <select class="form-control" id="inputORGANIZATION_N" name="NAME"
                        ng-model="selectedOrgName.value" ng-change="filterDivs($data)"
                        ng-options="o.ORGANIZATION_ID as o.NAME for o in OrgNameArray | orderBy: 'NAME'" required>
                    <option value=""></option>
                </select>
            </div>
            <a href ng-click="AddOrgName()">Add a new organization</a>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Division</label>
            <div class="col-md-6">
                <select class="form-control" id="inputORGANIZATION_DIV" name="DIVISION"
                        ng-model="selectedOrgDiv.value" ng-change="filterSecs($data)"
                        ng-options="d.ORGANIZATION_ID as d.DIVISION for d in filteredDivs | orderBy: 'DIVISION'">
                    <option value=""></option>
                </select>
            </div>
            <a href ng-click="AddDivName()" ng-show="selectedOrgName.value > 0">Add a new division</a>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Section</label>
            <div class="col-md-6">
                <select class="form-control" id="inputORGANIZATION_SEC" name="SECTION"
                        ng-model="selectedOrgSec.value"
                        ng-options="s.ORGANIZATION_ID as s.SECTION for s in filteredSecs | orderBy: 'SECTION'">
                    <option value=""></option>
                </select>
            </div>
            <a href ng-hide="selectedOrgDiv.value == '' || selectedOrgDiv.value == null" ng-show="selectedOrgDiv.value" ng-click="AddSecName()">Add a new section</a>
        </div>

        <!-- Email -->
        <div class="form-group required">
            <label class="col-md-3 control-label req" for="inputEMAIL">Email:</label>
            <div class="col-md-6">
                <input class="form-control" id="inputEMAIL" name="EMAIL" type="email" placeholder="" ng-model="newContact.EMAIL" required />
            </div>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="Enter the contact's email address."
                  data-placement="right" tooltip>
            </span>
        </div>

        <!-- Phone -->
        <div class="form-group">
            <label class="col-md-3 control-label req" for="inputPHONE">Phone:</label>
            <div class="col-md-6">
                <input class="form-control" id="inputPHONE" name="PHONE"
                       type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}"
                       ng-model="newContact.PHONE" />
                
            </div>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="Enter the contact's phone number. To add an extension, immediately following the phone number type 'x' and then the extension number."
                  data-placement="right" tooltip>
            </span>
        </div>


        <!--submit button-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="AddContact(projectForm.Contact.$valid)">
                        Save
                    </button>
                </span>

            </div>
        </div>

    </fieldset>
</form>