<style type="text/css">
    form .ng-pristine.ng-invalid-required
    {
       box-shadow: none;
    }
</style>
 <form editable-form class="form-horizontal" name="projectForm.SiteInfo">
     <fieldset>
         <legend>Site Information</legend>

         <!--Site Name*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.NAME.$invalid && projectForm.SiteInfo.NAME.$dirty}">
             <label class="col-md-2 control-label req" for="inputNAME">Site Name:</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputNAME" name="NAME" ng-model="thisSite.NAME"
                        type="text" placeholder="Site Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                        required />
             </div>
         </div>

         <!--Latitude*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.LATITUDE.$invalid && projectForm.SiteInfo.LATITUDE.$dirty}">
             <label class="col-md-2 control-label req" for="inputLATITUDE">Latitude:</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputLATITUDE" name="LATITUDE" ng-model="thisSite.LATITUDE"
                        type="number" min="0" max="72" placeholder="Latitude" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                        required />
             </div>
         </div>

         <!--Longitude*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.LONGITUDE.$invalid && projectForm.SiteInfo.LONGITUDE.$dirty}">
             <label class="col-md-2 control-label req" for="inputLONGITUDE">Longitude:</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputLONGITUDE" name="LONGITUDE" ng-model="thisSite.LONGITUDE"
                        type="text" min="-175" max="-60" placeholder="Longitude" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                        required />
             </div>
         </div>

         <!--Country*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.COUNTRY.$invalid && projectForm.SiteInfo.COUNTRY.$dirty}">
             <label class="col-md-2 control-label req" for="inputCOUNTRY">Country:</label>
             <div class="col-md-10">
                 <select id="inputCOUNTRY" name="COUNTRY" ng-model="thisSite.COUNTRY"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="c for c in allCountries" required>
                     <option value="">Choose a Country</option>
                 </select>
             </div>
         </div>

         <!--State/Province*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.STATE_PROVINCE.$invalid && projectForm.SiteInfo.STATE_PROVINCE.$dirty}">
             <label class="col-md-2 control-label req" for="inputSTATE_PROVINCE">State/Province:</label>
             <div class="col-md-10">
                 <select id="inputSTATE_PROVINCE" name="STATE_PROVINCE" ng-model="thisSite.STATE_PROVINCE"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="s for s in allStates" required>
                     <option value="">Choose a State/Province</option>
                 </select>
             </div>
         </div>

         <!--Lake*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.LAKE_TYPE_ID.$invalid && projectForm.SiteInfo.LAKE_TYPE_ID.$dirty}">
             <label class="col-md-2 control-label req" for="inputLAKE_TYPE_ID">Lake:</label>
             <div class="col-md-10">
                 <select id="inputLAKE_TYPE_ID" name="LAKE_TYPE_ID" ng-model="thisSite.LAKE_TYPE_ID"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="l.LAKE_TYPE_ID as l.LAKE for l in allLakes" required>
                     <option value="">Choose a Lake</option>
                 </select>
             </div>
         </div>

         <!--Waterbody-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputWATERBODY">Waterbody:</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputWATERBODY" name="WATERBODY" ng-model="thisSite.WATERBODY"
                        type="text" placeholder="Waterbody" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>
         </div>

         <!--Watershed (8-digit HUC)-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputWATERSHED_HUC8">Watershed (8-digit HUC):</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputWATERSHED_HUC8" name="WATERSHED_HUC8" ng-model="thisSite.WATERSHED_HUC8"
                        type="text" ui-mask="{{'99999999'}}" placeholder="Watershed (HUC8)" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>
         </div>

         <!--Site Description-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputDESCRIPTION">Site Description:</label>
             <div class="col-md-10">
                 <textarea id="inputDESCRIPTION" type="text" rows="3" placeholder="Site Description"
                           ng-change="isSiteDescChanged.bool = true" ng-model="thisSite.DESCRIPTION" />
                 <span ng-show="thisSite.SITE_ID > 0 && isSiteDescChanged.bool && thisSite.DESCRIPTION.length">
                     <button class="btn btn-primary" style="width:80px;margin-right:10px" ng-click="SaveOnBlur(projectForm.SiteInfo.$valid)">
                         SAVE
                     </button>
                 </span>
             </div>
         </div>

         <!--Status-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.STATUS_TYPE_ID.$invalid && projectForm.SiteInfo.STATUS_TYPE_ID.$dirty}">
             <label class="col-md-2 control-label req" for="inputSTATUS_TYPE_ID">Status:</label>
             <div class="col-md-10">
                 <select id="inputSTATUS_TYPE_ID" name="STATUS_TYPE_ID" ng-model="thisSite.STATUS_TYPE_ID"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="st.STATUS_ID as st.STATUS for st in allStats" required>
                     <option value="">Choose a Status</option>
                 </select>
             </div>
         </div>

         <hr />

         <!--Resource Component-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputSITE_RESOURCES">Resource Component:</label>
             <div class="col-md-10">
                 <div isteven-multi-select
                      input-model="Resourcedata"
                      output-model="Resourcemodel.value"
                      button-label="RESOURCE_NAME"
                      item-label="RESOURCE_NAME"
                      max-height="300px"
                      on-item-click="ResClick(data)"
                      tick-property="selected"
                      helper-elements="filter">
                 </div>
             </div>
         </div>

         <hr />

         <!--Media-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputSITE_MEDIA">Media:</label>
             <div class="col-md-10">
                 <div isteven-multi-select
                      input-model="Mediadata"
                      output-model="Mediamodel.value"
                      button-label="MEDIA"
                      item-label="MEDIA"
                      max-height="300px"
                      on-item-click="MedClick(data)"
                      tick-property="selected"
                      helper-elements="filter">
                 </div>
             </div>
         </div>

         <hr />

         <!--Sampling Frequency-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputSITE_FREQUENCY">Sampling Frequency:</label>
             <div class="col-md-10">
                 <div isteven-multi-select
                      input-model="Frequencydata"
                      output-model="Frequencymodel.value"
                      button-label="FREQUENCY"
                      item-label="FREQUENCY"
                      max-height="300px"
                      on-item-click="FreqClick(data)"
                      tick-property="selected"
                      helper-elements="filter">
                 </div>
             </div>
         </div>

         <hr />

         <!--Sampling Start Date  ng-controller="datePickrCtrl"-->
         <div class="form-group">
             <label class="col-md-2 control-label"
                    for="inputSTART_DATE">Sampling Start Date:</label>
             <div class="col-md-4">
                 <div class="input-group">
                     <input class="form-control" id="inputSTART_DATE" name="sd" type="text" datepicker-popup="MMM dd, yyyy"
                            is-open="datepickrs.sd" ng-model-options="{ updateOn: 'blur' }"
                            ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" ng-model="thisSite.START_DATE" />
                     <span class="input-group-btn">
                         <button class="btn btn-default" ng-click="open($event, 'sd')">
                             <i class="glyphicon glyphicon-calendar" />
                         </button>
                     </span>
                 </div>
             </div>
         </div>

         <!--Sampling End Date-->
         <div class="form-group">
             <label class="col-md-2 control-label"
                    for="inputEND_DATE">Sampling End Date:</label>
             <div class="col-md-4">
                 <div class="input-group">
                     <input class="form-control" id="inputEND_DATE" name="ed" type="text" datepicker-popup="MMM dd, yyyy"
                            is-open="datepickrs.ed" ng-model-options="{ updateOn: 'blur' }"
                            ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" ng-model="thisSite.END_DATE" />
                     <span class="input-group-btn">
                         <button class="btn btn-default" ng-click="open($event, 'ed')">
                             <i class="glyphicon glyphicon-calendar" />
                         </button>
                     </span>
                 </div>
             </div>
         </div>

         <!--Sampling Platform-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputSAMPLE_PLATFORM">Sampling Platform:</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputSAMPLE_PLATFORM" name="SAMPLE_PLATFORM" ng-model="thisSite.SAMPLE_PLATFORM"
                        type="text" placeholder="" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>
         </div>

         <!--Additional Site Information-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputADDITIONAL_INFO">Additional Site Information:</label>
             <div class="col-md-10">
                 <textarea id="inputADDITIONAL_INFO" type="text" rows="3" placeholder="Additional Information"
                           ng-change="isSiteAddInfoChanged.bool = true" ng-model="thisSite.ADDITIONAL_INFO" />
                 <span ng-show="thisSite.SITE_ID > 0 && isSiteAddInfoChanged.bool && thisSite.ADDITIONAL_INFO.length">
                     <button class="btn btn-primary" style="width:80px;margin-right:10px" ng-click="SaveOnBlur(projectForm.SiteInfo.$valid)">
                         SAVE
                     </button>
                 </span>
             </div>
         </div>

         <!--Site URL-->
         <div class="form-group">
             <label class="col-md-2 control-label" for="inputURL">Site URL:</label>
             <div class="col-md-4">
                 <input class="form-control" id="inputURL" name="URL" ng-model="thisSite.URL"
                        type="text" placeholder="" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>
         </div>

         <hr />

         <!--Add Parameters
             TODO
            -->


         <!--submit and cancel buttons-->
         <div class="form-group">
             <div class="col-md-4 col-md-offset-2">
                 <span>
                     <button ng-show="thisSite.SITE_ID == undefined" class="btn btn-primary"
                             style="width:80px;margin-right:10px"
                             ng-click="save(projectForm.SiteInfo.$valid)">
                         <span>Create</span>
                     </button>
                 </span>
                 <!--<span>
                     <button class="btn btn-default" ng-click="cancel()">
                         Back to Site List
                     </button>
                 </span>-->
             </div>
         </div>

     </fieldset>
    </formeditable-form>
