<legend>Publications</legend>

<div class="form-group" ng-if="ProjPubs.length > 0">
    <table class="table">
        <thead><tr><th></th><th></th><th></th><th></th></tr></thead>
        <tbody>
            <tr ng-repeat="p in ProjPubs">
                <td><button ng-click="RemovePub(p)"><i class="glyphicon glyphicon-remove"></i></button></td>
                <td>{{p.TITLE}}</td>
                <td>{{p.CITATION}}</td>
                <td>{{p.URL}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />

<form class="form-horizontal" name="projectForm.Pubs">
    <fieldset>
        <div>Add new publication</div>
        <!-- Publication Title -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputTITLE">Publication title:</label>
            <div class="col-md-4">
                <input class="form-control" id="inputTITLE" name="TITLE"
                       type="text" placeholder="" ng-required="!(newPub.TITLE.length || newPub.CITATION.length || newPub.URL.length)"
                       ng-model="newPub.TITLE" />
            </div>
        </div>

        <!-- Publication description -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputCITATION">Publication description:</label>
            <div class="col-md-4">
                <textarea class="form-control" id="inputCITATION" rows="3"
                          type="text" placeholder="" ng-required="!(newPub.TITLE.length || newPub.CITATION.length || newPub.URL.length)"
                          ng-model="newPub.CITATION" />
            </div>
        </div>

        <!-- Publication website/location -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputURL">Publication website/location:</label>
            <div class="col-md-4">
                <input class="form-control" id="inputURL" name="URL"
                       type="text" placeholder="" ng-required="!(newPub.TITLE.length || newPub.CITATION.length || newPub.URL.length)"
                       ng-model="newPub.URL" />
            </div>
        </div>

        <!--submit button-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="AddPub(projectPubsForm.$valid, newPub)">
                        Add
                    </button>
                </span>
            </div>
        </div>

    </fieldset>
</form>

