<div class="form-group" ng-if="ProjOrgs.length > 0">
    <table class="table">
        <thead><tr><th></th><th>Organization name</th><th>Division</th><th>Section</th></tr></thead>
        <tbody>
            <tr ng-repeat="o in ProjOrgs">
                <td style="white-space: nowrap">                   
                    <div class="buttons">
                      <button class="btn btn-danger" confirmed-click="RemoveOrg(o)" ng-confirm-click="Are you sure you want to remove this cooperator?">del</button>
                    </div>
                </td>
                <td><span>{{ o.NAME }}</span></td>
                <td><span>{{ o.DIVISION || '' }}</span></td>
                <td><span>{{ o.SECTION || ''}}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<hr /><!----> 
<h3>Add Cooperator</h3>
<form class="form-horizontal" name="projectForm.Coop">
    <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label">Organization</label>
            <div class="col-md-10">
                <select id="inputORGANIZATION_N" name="NAME"
                        ng-model="newOrg.NAME" ng-change="filterDivs($data)"
                        ng-options="o.ORGANIZATION_ID as o.NAME for o in allOrganizations | unique: 'NAME' | orderBy: 'NAME'"></select>
            </div><button class="btn btn-default" ng-click="AddOrgName()">Add Org</button>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Division</label>
            <div class="col-md-10">
                <select id="inputORGANIZATION_DIV" name="DIVISION"
                        ng-model="newOrg.DIVISION" ng-change="filterSecs($data)"
                        ng-options="d.ORGANIZATION_ID as d.DIVISION for d in filteredDivs | unique: 'DIVISION' | orderBy: 'DIVISION'"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Section</label>
            <div class="col-md-10">
                <select id="inputORGANIZATION_SEC" name="SECTION"
                        ng-model="newOrg.SECTION"
                        ng-options="s.ORGANIZATION_ID as s.SECTION for s in filteredSecs | unique: 'SECTION' | orderBy: 'SECTION'"></select>
            </div>
        </div>

        <!--submit button-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="AddOrg(projectForm.Coop.$valid, newOrg)">
                        Add
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>
