<legend>Data Sources</legend>

<div class="form-group" ng-if="ProjData.length > 0">
    <table class="table">
        <thead><tr><th></th><th>Data management system or data description</th><th>Data hosting entity</th><th>Online data location</th></tr></thead>
        <tbody>
            <tr ng-repeat="d in ProjData">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onaftersave="saveData($data, d.DATA_HOST_ID)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == d">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="RemoveData(d)">del</button>
                    </div>
                </td>
                <td><div style="display:none"><span editable-text="d.PROJECT_ID" e-form="rowform" e-name="PROJECT_ID">{{d.PROJECT_ID}}</span></div>
                    <span editable-text="d.DESCRIPTION" e-name="DESCRIPTION" e-form="rowform">{{ d.DESCRIPTION || '' }}</span>
                </td>
                <td>
                    <span editable-text="d.HOST_NAME" e-name="HOST_NAME" e-form="rowform">{{ d.HOST_NAME || '' }}</span>
                </td>
                <td>
                    <span editable-text="d.PORTAL_URL" e-name="PORTAL_URL" e-form="rowform">{{d.PORTAL_URL || ''}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<form class="form-horizontal" name="projectForm.Data">
    <fieldset>
        <div>Add new data source</div>
        <!-- Data Management System   (taken from form tag above == not sure what it does   novalidate) -->
        <div class="form-group">
            <label class="col-md-2 control-label req" for="inputDESCRIPTION">Data management system or data description:</label>
            <div class="col-md-4">
                <input class="form-control" id="inputDESCRIPTION" name="DESCRIPTION"
                       type="text" placeholder="" ng-required="!(newData.HOST_NAME.length || newData.PORTAL_URL.length || newData.DESCRIPTION.length)"
                       ng-model="newData.DESCRIPTION" />
            </div>
        </div>

        <!-- Data Hosting Entity -->
        <div class="form-group">
            <label class="col-md-2 control-label req" for="inputHOST_NAME">Data Hosting Entity:</label>
            <div class="col-md-4">
                <input class="form-control" id="inputHOST_NAME" name="HOST_NAME"
                       type="text" placeholder="" ng-required="!(newData.HOST_NAME.length || newData.PORTAL_URL.length || newData.DESCRIPTION.length)"
                       ng-model="newData.HOST_NAME" />
            </div>
        </div>

        <!-- Online Data Location -->
        <div class="form-group">
            <label class="col-md-2 control-label req" for="inputPORTAL_URL">Online Data Location:</label>
            <div class="col-md-4">
                <input class="form-control" id="inputPORTAL_URL" name="PORTAL_URL"
                       type="text" placeholder="" ng-required="!(newData.HOST_NAME.length || newData.PORTAL_URL.length || newData.DESCRIPTION.length)"
                       ng-model="newData.PORTAL_URL" />
            </div>
        </div>

        <!--submit button-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="AddData(projectForm.Data.$valid, newData)">
                        Add
                    </button>
                </span>
            </div>
        </div>

    </fieldset>
</form>
