<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">Project List for {{User}}</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <!--<th data-field="button" data-align="left" data-sortable="false"><button class="btn-primary" type="button" ng-click="vm.toggleImage()">vm.showImage ? "Hide " : "Show "}}Image</button></th>-->
                    <th data-field="name" data-align="center" data-sortable="true">Project Name</th>
                    <th data-field="startDate" data-align="center" data-sortable="true">Manager</th>
                    <th data-field="sCt" data-align="center" data-sortable="true">Site Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pr in projects">
                    <!--ng-show will download images initially, ng-if will not download unless clicked
        <td><img ng-if="vm.showImage" ng-src="pr.imageURL}}" style="width:6%" /></td><a ui-sref="projectDetail({id: pr.ProjId})">-->
                    <td>{{pr.Name}}</td>
                    <td>{{pr.Manager}}</td>
                    <td>{{pr.SiteCount}}</td>
                    <td><a class="btn btn-primary" ui-sref="projectEdit.info({id: pr.ProjId})">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <a ui-sref="projectEdit.info({id:0})"><i class="glyphicon glyphicon-plus"></i>
            Add Project
        </a>
    </div>
</div>