<div class="form-group" ng-if="ProjOrgs.length > 0">
    <table class="table">
        <thead><tr><th></th><th>Organization name</th><th>Division</th><th>Section</th></tr></thead>
        <tbody>
            <tr ng-repeat="o in ProjOrgs">
                <td style="white-space: nowrap">
                    <div class="buttons">
                        <button class="btn btn-danger" ng-click="RemoveOrg(o)">del</button>
                    </div>
                </td>
                <td><span>{{ o.NAME }}</span></td>
                <td><span>{{ o.DIVISION || '' }}</span></td>
                <td><span>{{ o.SECTION || ''}}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<hr /><!---->
<h3>Add Cooperator</h3>
<form class="form-horizontal" name="projectForm.Coop">
    <fieldset>
        <div class="form-group required">
            <label class="col-md-3 control-label">Organization</label>
            <div class="col-md-6">
                <select class="form-control" id="inputORGANIZATION_N" name="NAME" required
                        ng-model="selectedOrgName.value" ng-change="filterDivs($data)"
                        ng-options="o.ORGANIZATION_ID as o.NAME for o in OrgNameArray | orderBy: 'NAME'">
                    <option value="">Choose an Organization to add</option>
                </select>
            </div>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                  title="After selecting your Organization (and Division/Office and Section, if applicable) in the drop-down menu, click the “Add Organization” button to save. Repeat if multiple organizations apply."
                  data-placement="right" tooltip>
            </span>
            <div class="col-md-6"><a href ng-click="AddOrgName()">Add a new organization</a></div>
</div>

        <div class="form-group">
            <label class="col-md-3 control-label">Division</label>
            <div class="col-md-6">
                <select class="form-control" id="inputORGANIZATION_DIV" name="DIVISION"
                        ng-model="selectedOrgDiv.value" ng-change="filterSecs($data)"
                        ng-options="d.ORGANIZATION_ID as d.DIVISION for d in filteredDivs | orderBy: 'DIVISION'">
                    <option value=""></option>
                </select>
            </div>
            <a href ng-click="AddDivName()" ng-show="selectedOrgName.value > 0">Add a new division</a>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Section</label>
            <div class="col-md-6">
                <select class="form-control" id="inputORGANIZATION_SEC" name="SECTION"
                        ng-model="selectedOrgSec.value"
                        ng-options="s.ORGANIZATION_ID as s.SECTION for s in filteredSecs | orderBy: 'SECTION'">
                    <option value=""></option>
                </select>
            </div>
            <a href ng-show="showAddSecButton" ng-hide="selectedOrgDiv.value == '' || selectedOrgDiv.value == null" ng-show="selectedOrgDiv.value" ng-click="AddSecName()">Add a new section</a>
        </div>
        <!--submit button-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="AddOrg(projectForm.Coop.$valid, newOrg)">
                        Add
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>
