<style type="text/css">
    form .ng-pristine.ng-invalid-required
    {
       box-shadow: none;
    }
</style>
 <form editable-form class="form-horizontal" name="projectForm.SiteInfo">
    <fieldset>
        <legend>Site Information</legend>

        Site Name
        <div class="form-group required" ng-class="{'has-error':projectForm.Info.NAME.$invalid && projectForm.Info.NAME.$dirty}">
            <label class="col-md-2 control-label req" for="inputNAME">Site Name:</label>
            <div class="col-md-4">
                <input class="form-control" id="inputNAME" name="NAME" ng-model="thisSite.NAME"
                       type="text" placeholder="Site Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)"
                       required />
            </div>
        </div>

        submit and cancel buttons
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="save(projectForm.Info.$valid)">
                        <span>Create</span>
                    </button>
                </span>
                <span>
                    <button class="btn btn-default" ng-click="cancel()">
                        Back to Project List
                    </button>
                </span>
            </div>
        </div>

    </fieldset>
    </formeditable-form>

    <!-- MODALs for "are you sure you want to remove this thing (Keyword or URL)
        <script type="text/ng-template" id="removemodal.html">
            <div class="modal-header">
                <h3 class="modal-title">Remove {what}}</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this {what}}: <b>{keyToRmv}}</b></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    -->
