<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">{{Title}}</div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <!-- Name -->
                <div class="row">
                    <div class="col-md-2">Name:</div>
                    <div class="col-md-6">{{aProject.NAME}}</div>
                </div>

                <hr/>

                <!-- Duration -->
                <div class="row">
                    <div class="col-md-2">Project Duration:</div>
                    <div class="col-md-6">{{projDurationName}}</div>
                </div>

                <!-- Status -->
                <div class="row">
                    <div class="col-md-2">Project Status:</div>
                    <div class="col-md-6">{{projStatusName}}</div>
                </div>

                <!-- Start Date -->
                <div class="row">
                    <div class="col-md-2">Start Date:</div>
                    <div class="col-md-6">{{aProject.START_DATE | date}}</div>
                </div>

                <!-- Completion Date -->
                <div class="row">
                    <div class="col-md-2">Completion Date:</div>
                    <div class="col-md-6">{{aProject.END_DATE | date}}</div>
                </div>

                <hr/>

                <!-- Objectives -->
                <div class="row">
                    <div class="col-md-2">Project Objectives:</div>
                    <div class="col-md-6"><ul><li data-ng-repeat="obj in ProjectObjectives">{{obj.OBJECTIVE}}</li></ul></div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-md-2">Description:</div>
                    <div class="col-md-6"><textarea readonly="readonly" rows="3">{{aProject.DESCRIPTION}}</textarea></div>
                </div>

                <!-- Keywords -->
                <div class="row">
                    <div class="col-md-2">Project Keywords:</div>
                    <div class="col-md-6"><ul><li data-ng-repeat="key in ProjectKeywords">{{key.TERM}}</li></ul></div>
                </div>

                <!-- Websites -->
                <div class="row">
                    <div class="col-md-2">Websites:</div>
                    <div class="col-md-6"><ul><li data-ng-repeat="u in urls">{{u}}</li></ul></div>
                </div>

                <!-- Additional Info -->
                <div class="row">
                    <div class="col-md-2">Additional Info:</div>
                    <div class="col-md-6">{{aProject.ADDITIONAL_INFO}}</div>
                </div>

            </div>
        </div>
    </div><!-- end of panel-body -->
    <!-- Edit this Project button -->
    <div class="panel-footer">
        <a class="btn btn-default" ui-sref="projectList" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
        <a class="btn btn-primary" ui-sref="projectEdit.info({id: aProject.PROJECT_ID})" style="width:80px;margin-left:10px">
            Edit
        </a>
    </div>

</div>