<div ng-if="accountRole =='Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Frequency Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ft in freqTypeList | orderBy: 'FREQUENCY'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="FTrowform" onaftersave="saveFrequencyType($data, ft.FREQUENCY_TYPE_ID)" ng-show="FTrowform.$visible" class="form-buttons form-inline" shown="inserted == ft">
                        <button type="submit" ng-disabled="FTrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="FTrowform.$waiting" ng-click="FTrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!FTrowform.$visible">
                        <button class="btn btn-primary" ng-click="FTrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteFrequencyType(ft)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="ft.FREQUENCY_TYPE_ID" e-form="FTrowform" e-name="FREQUENCY_TYPE_ID">{{ft.FREQUENCY_TYPE_ID}}</span></div>
                    <span editable-text="ft.FREQUENCY" e-name="FREQUENCY" e-form="FTrowform">{{ ft.FREQUENCY || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addFTButtonShowing" class="btn btn-primary" ng-click="showAddFTClicked()">Add New Frequency Type</button>

    <div ng-show="showAddFTForm">
        <form class="form-horizontal" name="lookupForm.freqTypeFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="inputFREQUENCY">Frequency Type:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="inputFREQUENCY" name="FREQUENCY" type="text" placeholder="" ng-model="newFT.FREQUENCY" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddFrequencyType(lookupForm.freqTypeFm.$valid, newFT)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindFT()">
            Never Mind
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'FREQUENCY';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="TYPE">Frequency Type&nbsp;<a ng-click="sort_by('FREQUENCY')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ft in freqTypeList | orderBy:sortingOrder:reverse">
                <td>{{ ft.FREQUENCY || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
