<div ng-if="accountRole =='Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Objective Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ot in objTypeList | orderBy: 'OBJECTIVE'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="OTrowform" onaftersave="saveObjectiveType($data, ot.OBJECTIVE_TYPE_ID)" ng-show="OTrowform.$visible" class="form-buttons form-inline" shown="inserted == ot">
                        <button type="submit" ng-disabled="OTrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="OTrowform.$waiting" ng-click="OTrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!OTrowform.$visible">
                        <button class="btn btn-primary" ng-click="OTrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteObjectiveType(ot)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="ot.OBJECTIVE_TYPE_ID" e-form="OTrowform" e-name="OBJECTIVE_TYPE_ID">{{ot.OBJECTIVE_TYPE_ID}}</span></div>
                    <span editable-text="ot.OBJECTIVE" e-name="OBJECTIVE" e-form="FTrowform">{{ ot.OBJECTIVE || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addOTButtonShowing" class="btn btn-primary" ng-click="showAddOTClicked()">Add New Objective Type</button>

    <div ng-show="showAddOTForm">
        <form class="form-horizontal" name="lookupForm.objTypeFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="inputOBJECTIVE">Objective Type:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="inputOBJECTIVE" name="OBJECTIVE" type="text" placeholder="" ng-model="newOT.OBJECTIVE" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddObjectiveType(lookupForm.objTypeFm.$valid, newOT)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindOT()">
            Cancel
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        //var sortingOrder = 'OBJECTIVE_TYPE';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="OBJECTIVE">Objective Type&nbsp;<a ng-click="sort_by('OBJECTIVE')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ot in objTypeList | orderBy:sortingOrder:reverse">
                <td>{{ ot.OBJECTIVE || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
