<div ng-if="accountRole =='Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Resource Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rt in resourceTypeList | orderBy: 'RESOURCE_NAME'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="RTrowform" onaftersave="saveResourceType($data, rt.RESOURCE_TYPE_ID)" ng-show="RTrowform.$visible" class="form-buttons form-inline" shown="inserted == rt">
                        <button type="submit" ng-disabled="RTrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="RTrowform.$waiting" ng-click="RTrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!RTrowform.$visible">
                        <button class="btn btn-primary" ng-click="RTrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteResourceType(rt)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="rt.RESOURCE_TYPE_ID" e-form="RTrowform" e-name="RESOURCE_TYPE_ID">{{rt.RESOURCE_TYPE_ID}}</span></div>
                    <span editable-text="rt.RESOURCE_NAME" e-name="RESOURCE_NAME" e-form="RTrowform">{{ rt.RESOURCE_NAME || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addRTButtonShowing" class="btn btn-primary" ng-click="showAddRTClicked()">Add New Resource Type</button>

    <div ng-show="showAddRTForm">
        <form class="form-horizontal" name="lookupForm.resTypeFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="inputRESOURCE_NAME">Resource Type:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="inputRESOURCE_NAME" name="RESOURCE_NAME" type="text" placeholder="" ng-model="newRT.RESOURCE_NAME" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddResourceType(lookupForm.resTypeFm.$valid, newRT)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindRT()">
            Never Mind
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'RESOURCE_NAME';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="RESOURCE_NAME">Resource Type&nbsp;<a ng-click="sort_by('RESOURCE_NAME')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rt in resourceTypeList | orderBy:sortingOrder:reverse">
                <td>{{ rt.RESOURCE_NAME || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
