<div ng-if="accountRole =='Admin'">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th class="frequency">Frequency Type&nbsp;<a ng-click="Fsort_by('frequency')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Projects.lengt">
                    Project Cnt&nbsp;<a ng-click="Fsort_by('Projects.length')"><i class="glyphicon glyphicon-sort"></i></a><span ng-if="freqCntLoading"><img style="max-width:20px" src="images/loading1.gif" /></span>
                </th>               
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ft in freqTypeList | orderBy: FsortingOrder:Freverse">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="FTrowform" onaftersave="saveFrequencyType($data, ft.frequency_type_id)" ng-show="FTrowform.$visible" class="form-buttons form-inline" shown="inserted == ft">
                        <button type="submit" ng-disabled="FTrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="FTrowform.$waiting" ng-click="FTrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!FTrowform.$visible">
                        <button class="btn btn-primary" ng-click="FTrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteFrequencyType(ft)">del</button>
                    </div>
                </td>
                <td>
                    <span editable-text="ft.frequency" e-name="frequency" e-form="FTrowform">{{ ft.frequency || '' }}</span>
                </td>
                <td>
                    <span><a ng-click="showProjectCntModal(ft.Projects, 'Frequency Type')">{{ft.Projects.length}}</a></span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addFTButtonShowing" class="btn btn-primary" ng-click="showAddFTClicked()">Add New Frequency Type</button>

    <div ng-show="showAddFTForm">
        <form class="form-horizontal" name="lookupForm.freqTypeFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="frequency">Frequency Type:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="frequency" name="frequency" type="text" placeholder="" ng-model="newFT.frequency" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddFrequencyType(lookupForm.freqTypeFm.$valid, newFT)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindFT()">
            Cancel
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">    
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="frequency">Frequency Type&nbsp;<a ng-click="sort_by('frequency')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ft in freqTypeList | orderBy:sortingOrder:reverse">
                <td>{{ ft.frequency || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
