<div ng-if="accountRole =='Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Media Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mt in mediaTypeList | orderBy: 'MEDIA'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="MTrowform" onaftersave="saveMediaType($data, mt.MEDIA_TYPE_ID)" ng-show="MTrowform.$visible" class="form-buttons form-inline" shown="inserted == mt">
                        <button type="submit" ng-disabled="MTrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="MTrowform.$waiting" ng-click="MTrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!MTrowform.$visible">
                        <button class="btn btn-primary" ng-click="MTrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteMediaType(mt)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="mt.MEDIA_TYPE_ID" e-form="MTrowform" e-name="MEDIA_TYPE_ID">{{mt.MEDIA_TYPE_ID}}</span></div>
                    <span editable-text="mt.MEDIA" e-name="MEDIA" e-form="MTrowform">{{ mt.MEDIA || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addMTButtonShowing" class="btn btn-primary" ng-click="showAddMTClicked()">Add New Media Type</button>

    <div ng-show="showAddMTForm">
        <form class="form-horizontal" name="lookupForm.mediaTypeFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="inputMEDIA">Media Type:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="inputMEDIA" name="MEDIA" type="text" placeholder="" ng-model="newMT.MEDIA" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddMediaType(lookupForm.mediaTypeFm.$valid, newMT)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindMT()">
            Cancel
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        //var sortingOrder = 'MEDIA';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="MEDIA">Media Type&nbsp;<a ng-click="sort_by('MEDIA')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mt in mediaTypeList | orderBy:sortingOrder:reverse">
                <td>{{ mt.MEDIA || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
