<div ng-if="accountRole =='Admin'">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th class="status">Site Status&nbsp;<a ng-click="SSsort_by('status')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Projects.length">Project Cnt&nbsp;<a ng-click="SSsort_by('Projects.length')"><i class="glyphicon glyphicon-sort"></i></a><span ng-if="siteStatCntLoading"><img style="max-width:20px" src="images/loading1.gif" /></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ss in siteStatusList | orderBy: SSsortingOrder:SSreverse">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="SSrowform" onaftersave="saveSiteStatus($data, ss.status_id)" ng-show="SSrowform.$visible" class="form-buttons form-inline" shown="inserted == ss">
                        <button type="submit" ng-disabled="SSrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="SSrowform.$waiting" ng-click="SSrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!SSrowform.$visible">
                        <button class="btn btn-primary" ng-click="SSrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteSiteStatus(ss)">del</button>
                    </div>
                </td>
                <td>
                    <span editable-text="ss.status" e-name="status" e-form="SSrowform">{{ ss.status || '' }}</span>
                </td>
                <td>
                    <span><a ng-click="showProjectCntModal(ss.Projects, 'Site Status Type')">{{ss.Projects.length}}</a></span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addSSButtonShowing" class="btn btn-primary" ng-click="showAddSSClicked()">Add New Site Status</button>

    <div ng-show="showAddSSForm">
        <form class="form-horizontal" name="lookupForm.siteStatFm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="status">Site Status:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="status" name="status" type="text" placeholder="" ng-model="newSS.status" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddSiteStatus(lookupForm.siteStatFm.$valid, newSS)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindSS()">
                   Cancel
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        //var sortingOrder = 'status';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="status">Site Status&nbsp;<a ng-click="sort_by('status')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ss in siteStatusList | orderBy:sortingOrder:reverse">
                <td>{{ ss.status || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
