<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">{{User}} : Your Projects ({{ProjCnt}})</div>
    <div class="panel-body">
        <script>
            var sortingOrder = 'Name';
        </script>
        <div>Click on a project name to view full record.</div>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="Name">Project Name&nbsp;<a ng-click="sort_by('Name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th ng-if="userRole == 'Admin'" class="LName">Manager Last Name&nbsp;<a ng-click="sort_by('LName')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th ng-if="userRole == 'Admin'" class="FName">Manager Fisrt Name&nbsp;<a ng-click="sort_by('FName')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th ng-if="userRole == 'Admin'" class="ManagerOrg">Organization&nbsp;<a ng-click="sort_by('ManagerOrg')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="SiteCount">SiteCount&nbsp;<a ng-click="sort_by('SiteCount')"><i class="glyphicon glyphicon-sort"></i></a></th>
                </tr>
            </thead>

            <tbody>
                <tr class="project-list-item" ng-repeat="pr in projects | orderBy:sortingOrder:reverse">
                    <td><a ui-sref="projectEdit.info({id: pr.ProjId})">{{pr.Name}}</a></td>
                    <td ng-if="userRole == 'Admin'">{{pr.LName}}</td>
                    <td ng-if="userRole == 'Admin'">{{pr.FName}}</td>
                    <td ng-if="userRole == 'Admin'">{{pr.ManagerOrg}}</td>
                    <td>{{pr.SiteCount}}</td>
                </tr>
        </table>

        <a ui-sref="projectEdit.info({id:0})" id="new-project-button"><i class="glyphicon glyphicon-plus"></i>
            Create new Project
        </a>
    </div>
</div>
