<button type="button" ng-if="aProject.PROJECT_ID != undefined" class="btn btn-primary" ng-click="openProjectCreate()">Edit Project</button>
<button type="button" ng-if="aProject.PROJECT_ID == undefined" class="btn btn-primary" ng-click="openProjectCreate()">Create Project</button>

<!-- Project Details View -->
<div ng-if="aProject.PROJECT_ID != undefined">
    <form class="form-horizontal" name="projectForm.Info">
        <fieldset>
            <legend>Project Information</legend>

            <!-- Project Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="NAME">Project Name:</label>
                <div class="col-md-8">
                    <span>{{aProject.NAME}}</span>
                </div>
            </div>

            <hr />
            <!-- Project Duration -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="inputPROJ_DURATION_ID">Project Duration:</label>
                <div class="col-md-8">
                    <span>{{(DurationList | filter: {PROJ_DURATION_ID: aProject.PROJ_DURATION_ID})[0].DURATION_VALUE}}</span>
                </div>
            </div>

            <!-- Project Status -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="PROJ_STATUS_ID">Project Status:</label>
                <div class="col-md-8">
                    <span>{{(StatusList | filter: {PROJ_STATUS_ID: aProject.PROJ_STATUS_ID})[0].STATUS_VALUE}}</span>
                </div>
            </div>

            <!-- Project Start Date  ng-controller="datePickrCtrl"-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="START_DATE">Project Start Date:</label>
                <div class="col-md-8">
                    <span>{{aProject.START_DATE | date: 'MMM/dd/yyyy'}}</span>
                </div>
            </div>

            <!-- Project Completion Date -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="END_DATE">Project Completion Date:</label>
                <div class="col-md-8">
                    <span>{{aProject.END_DATE | date: 'MMM/dd/yyyy'}}</span>
                </div>
            </div>

            <hr />

            <!-- Project Objectives -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="PROJ_OBJECTIVES">Project Objectives:</label>
                <div class="col-md-8">
                    <ul ng-if="ProjectObjectives.length > 0">
                        <li style="list-style:none" ng-repeat="o in ProjectObjectives">{{o.OBJECTIVE}}</li>
                    </ul>
                    <span ng-if="ProjectObjectives.length == 0">None set</span>
                </div>
            </div>

            <!-- Project Description -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="DESCRIPTION">Description:</label>
                <div class="col-md-8">
                    <textarea readonly="readonly" class="form-control" id="DESCRIPTION" type="text" rows="3" ng-model="aProject.DESCRIPTION" elastic />
                </div>
            </div>

            <hr />
            <!-- Project Keywords -->
            <div class="form-group" ng-if="ProjectKeywords.length > 0">
                <label class="col-md-4 control-label" for="ProjKEYWORDS">Project Keywords:</label>
                <div class="col-md-8 ">
                    <ul>
                        <li style="list-style:none" data-ng-repeat="key in ProjectKeywords">{{key.TERM}}</li>
                    </ul>
                </div>
            </div>


            <hr />
            <!-- Project Websites -->
            <div class="form-group" ng-if="urls.length > 0">
                <label class="col-md-4 control-label" for="URL">Project Websites:</label>
                <div class="col-md-8">
                    <ul>
                        <li style="list-style:none" data-ng-repeat="key in urls">{{key}}</li>
                    </ul>
                </div>
            </div>

            <!-- Project Additional Info -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ADDITIONAL_INFO">Additional Information:</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="ADDITIONAL_INFO" type="text" rows="3" readonly="readonly" elastic ng-model="aProject.ADDITIONAL_INFO" />
                </div>
            </div>

        </fieldset>
    </form>
</div>