<style type="text/css">
    form .ng-pristine.ng-invalid-required
    {
       box-shadow: none;
    }
    .orange {
    color: orange;
}
   
</style>
 <form editable-form class="form-horizontal" name="projectForm.SiteInfo">
     <fieldset>
         <legend>Site Information</legend>
         <button style="margin-left:10px" class="btn btn-primary" ui-sref="projectEdit.site.siteList">Back to Site List</button>
         <!--Site Name*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.NAME.$invalid && projectForm.SiteInfo.NAME.$dirty}">
             <label class="col-md-3 control-label req" for="inputNAME">Site Name:</label>
             <div class="col-md-6">
                 <input class="form-control" id="inputNAME" name="NAME" ng-model="thisSite.NAME"
                        type="text" placeholder="Site Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                        required />
             </div>
         </div>

         <!--Latitude*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.LATITUDE.$invalid && projectForm.SiteInfo.LATITUDE.$dirty}">
             <label class="col-md-3 control-label req" for="inputLATITUDE">Latitude:</label>
             <div class="col-md-6">
                 <input class="form-control" ng-keypress="isNum($event)" name="LATITUDE" id="LATITUDE" ng-model="thisSite.LATITUDE"
                        type="text" placeholder="Latitude" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                        required />
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Latitude should be entered in NAD83 decimal degrees (positive values)."
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Longitude*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.LONGITUDE.$invalid && projectForm.SiteInfo.LONGITUDE.$dirty}">
             <label class="col-md-3 control-label req" for="inputLONGITUDE">Longitude:</label>
             <div class="col-md-6">
                 <input class="form-control" ng-keypress="isNum($event)" id="LONGITUDE" name="LONGITUDE" ng-model="thisSite.LONGITUDE"
                        type="text" placeholder="Longitude" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                        required />
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Longitute should be entered in NAD83 decimal degrees (negative values indicate western hemisphere)."
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Country*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.COUNTRY.$invalid && projectForm.SiteInfo.COUNTRY.$dirty}">
             <label class="col-md-3 control-label req" for="inputCOUNTRY">Country:</label>
             <div class="col-md-6">
                 <select class="form-control" id="inputCOUNTRY" name="COUNTRY" ng-model="thisSite.COUNTRY"
                              ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                              ng-options="c for c in allCountries" required>
                     <option value=""></option>
                 </select>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Which country is this site located in?"
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--State/Province*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.STATE_PROVINCE.$invalid && projectForm.SiteInfo.STATE_PROVINCE.$dirty}">
             <label class="col-md-3 control-label req" for="inputSTATE_PROVINCE">State/Province:</label>
             <div class="col-md-6">
                 <select class="form-control" id="inputSTATE_PROVINCE" name="STATE_PROVINCE" ng-model="thisSite.STATE_PROVINCE"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="s for s in allStates" required>
                     <option value=""></option>
                 </select>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Which state (U.S. only) or province (Canada only) is this site located in?"
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Lake*-->
         <div class="form-group required" ng-class="{'has-error':projectForm.SiteInfo.LAKE_TYPE_ID.$invalid && projectForm.SiteInfo.LAKE_TYPE_ID.$dirty}">
             <label class="col-md-3 control-label req" for="inputLAKE_TYPE_ID">Lake:</label>
             <div class="col-md-6">
                 <select class="form-control" id="inputLAKE_TYPE_ID" name="LAKE_TYPE_ID" ng-model="thisSite.LAKE_TYPE_ID"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="l.LAKE_TYPE_ID as l.LAKE for l in allLakes" required>
                     <option value=""></option>
                 </select>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Which Great Lake (or Lakewide Management Plan) is this site associated with?"
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Waterbody-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputWATERBODY">Waterbody:</label>
             <div class="col-md-6">
                 <input class="form-control" id="inputWATERBODY" name="WATERBODY" ng-model="thisSite.WATERBODY"
                        type="text" placeholder="Waterbody" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Identify any additional waterbodies this site is associated with. Separate distinct waterbody names with a comma."
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Watershed (8-digit HUC)-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputWATERSHED_HUC8">Watershed (8-digit HUC):</label>
             <div class="col-md-6">
                 <input class="form-control" id="inputWATERSHED_HUC8" name="WATERSHED_HUC8" ng-model="thisSite.WATERSHED_HUC8"
                        type="text" ui-mask="{{'99999999'}}" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Enter the 8-digit HUC (hydrologic unit code, ex. 04030204) for this site."
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Site Description-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputDESCRIPTION">Site Description:</label>
             <div class="col-md-6">
                 <textarea class="form-control" id="inputDESCRIPTION" type="text" rows="3" placeholder="Site Description" elastic
                           ng-change="isSiteDescChanged.bool = true" ng-model="thisSite.DESCRIPTION" />&nbsp;
                 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                       title="Include any site description or additional location information here."
                       data-placement="right" tooltip>
                 </span>
                 <span ng-show="thisSite.SITE_ID > 0 && isSiteDescChanged.bool && thisSite.DESCRIPTION.length">
                     <button class="btn btn-primary" style="width:80px;margin-right:10px" ng-click="SaveOnBlur(projectForm.SiteInfo.$valid)">
                         SAVE
                     </button>
                 </span>
             </div>
         </div>

         <!--Status-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputSTATUS_TYPE_ID">Status:</label>
             <div class="col-md-6">
                 <select class="form-control" id="inputSTATUS_TYPE_ID" name="STATUS_TYPE_ID" ng-model="thisSite.STATUS_TYPE_ID"
                         ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)"
                         ng-options="st.STATUS_ID as st.STATUS for st in allStats">
                     <option value="0"></option>
                 </select>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Indicate if your site is currently being monitored (at any sampling frequency)."
                   data-placement="right" tooltip>
             </span>
         </div>

         <hr />

         <!--Resource Component-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputSITE_RESOURCES">Resource Component:</label>
             <div class="col-md-6">
                 <div isteven-multi-select
                      input-model="Resourcedata"
                      output-model="Resourcemodel.value"
                      button-label="RESOURCE_NAME"
                      item-label="RESOURCE_NAME"
                      max-height="300px"
                      on-item-click="ResClick(data)"
                      tick-property="selected"
                      helper-elements="filter">
                 </div>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Select where the sampling or analysis occurred."
                   data-placement="right" tooltip>
             </span>
         </div>

         <hr />

         <!--Media-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputSITE_MEDIA">Media:</label>
             <div class="col-md-6">
                 <div isteven-multi-select
                      input-model="Mediadata"
                      output-model="Mediamodel.value"
                      button-label="MEDIA"
                      item-label="MEDIA"
                      max-height="300px"
                      on-item-click="MedClick(data)"
                      tick-property="selected"
                      helper-elements="filter">
                 </div>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Select what type of media was sampled or analyzed here."
                   data-placement="right" tooltip>
             </span>
         </div>

         <hr />

         <!--Sampling Frequency-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputSITE_FREQUENCY">Sampling Frequency:</label>
             <div class="col-md-6">
                 <div isteven-multi-select
                      input-model="Frequencydata"
                      output-model="Frequencymodel.value"
                      button-label="FREQUENCY"
                      item-label="FREQUENCY"
                      max-height="300px"
                      on-item-click="FreqClick(data)"
                      tick-property="selected"
                      helper-elements="filter">
                 </div>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Indicate how frequently this site was sampled or analyzed."
                   data-placement="right" tooltip>
             </span>
         </div>

         <hr />

         <!--Sampling Start Date  ng-controller="datePickrCtrl"-->
         <div class="form-group">
             <label class="col-md-3 control-label"
                    for="inputSTART_DATE">Sampling Start Date:</label>
             <div class="col-md-6">
                 <div class="input-group">
                     <input class="form-control" id="START_DATE" name="sd" type="text" uib-datepicker-popup="MMM dd, yyyy"
                            is-open="datepickrs.sd" ng-model-options="{ updateOn: 'blur' }"
                            ng-change="SaveOnBlur(projectForm.SiteInfo.$valid, -1)" ng-model="thisSite.START_DATE" />
                     <span class="input-group-btn">
                         <button class="btn btn-default" ng-click="open($event, 'sd')">
                             <i class="glyphicon glyphicon-calendar" />
                         </button>
                     </span>
                 </div>
             </div>
         </div>

         <!--Sampling End Date-->
         <div class="form-group">
             <label class="col-md-3 control-label"
                    for="inputEND_DATE">Sampling End Date:</label>
             <div class="col-md-6">
                 <div class="input-group">
                     <input class="form-control" id="END_DATE" name="ed" type="text" uib-datepicker-popup="MMM dd, yyyy"
                            is-open="datepickrs.ed" ng-model-options="{ updateOn: 'blur' }"
                            ng-change="SaveOnBlur(projectForm.SiteInfo.$valid, -1)" ng-model="thisSite.END_DATE" />
                     <span class="input-group-btn">
                         <button class="btn btn-default" ng-click="open($event, 'ed')">
                             <i class="glyphicon glyphicon-calendar" />
                         </button>
                     </span>
                 </div>
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="If sampling is ongoing, leave blank."
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Sampling Platform-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputSAMPLE_PLATFORM">Sampling Platform:</label>
             <div class="col-md-6">
                 <input class="form-control" id="inputSAMPLE_PLATFORM" name="SAMPLE_PLATFORM" 
                        ng-model="thisSite.SAMPLE_PLATFORM" type="text"
                        ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" />
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="Include information about the type of sampling equipment used here. Separate terms with a comma."
                   data-placement="right" tooltip>
             </span>
         </div>

         <!--Additional Site Information-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputADDITIONAL_INFO">Additional Site Information:</label>
             <div class="col-md-6">
                 <textarea class="form-control" id="inputADDITIONAL_INFO" type="text" rows="3"
                           placeholder="Additional Information" elastic
                           ng-change="isSiteAddInfoChanged.bool = true" ng-model="thisSite.ADDITIONAL_INFO" />&nbsp;
                 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                       title="Include any other sampling or site-specific information here."
                       data-placement="right" tooltip>
                 </span>
                 <span ng-show="thisSite.SITE_ID > 0 && isSiteAddInfoChanged.bool && thisSite.ADDITIONAL_INFO.length">
                     <button class="btn btn-primary" style="width:80px;margin-right:10px" ng-click="SaveOnBlur(projectForm.SiteInfo.$valid)">
                         SAVE
                     </button>
                 </span>
             </div>
         </div>

         <!--Site URL-->
         <div class="form-group" ng-class="{'has-error':projectForm.SiteInfo.URL.$invalid}">
             <label class="col-md-3 control-label" for="inputURL">Site URL:</label>
             <div class="col-md-6">
                 <input class="form-control" id="URL" name="URL" ng-model="thisSite.URL" type="url" placeholder="http://www.exampleurl.com" 
                        ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(projectForm.SiteInfo.$valid)" http-prefix />
             </div>&nbsp;
             <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                   title="If site-specific data is available online, enter URL here."
                   data-placement="right" tooltip>
             </span>
         </div>

         <hr />

         <!--Add Parameters-->
         <div class="form-group">
             <label class="col-md-3 control-label" for="inputSITE_PARAMS">Site Parameters:</label>
             <div class="col-md-6">
                 <button ng-click="showParamDiv($event)">
                     {{showHide }} Parameters
                 </button>
             </div>
         </div>

         <!--PHYSICAL-->
         <div class="col-md-3 pull-left" ng-show="showParams">
             <ul>
                 <label><strong>Physical</strong></label>
                 <li style="list-style:none;" ng-repeat="phys in physParams[0]">
                     <input type="checkbox" ng-model="phys.selected"
                            ng-checked="phys.selected" value="{{phys.PARAMETER_TYPE_ID}}"
                            ng-click="ParamClick(phys)" />
                     <span ng-class="{orange:phys.selected}">{{ phys.PARAMETER }}</span>
                 </li>
             </ul>
         </div>

         <!--CHEMICAL-->
         <div class="col-md-3 pull-left" ng-show="showParams">
             <ul>
                 <label><strong>Chemical</strong></label>
                 <li style="list-style:none;" ng-repeat="chem in chemParams[0]">
                     <input type="checkbox" ng-model="chem.selected"
                            ng-checked="chem.selected" value="{{chem.PARAMETER_TYPE_ID}}"
                            ng-click="ParamClick(chem)" />
                     <span ng-class="{orange:chem.selected}">{{ chem.PARAMETER }}</span>
                 </li>
             </ul>
         </div>

         <!--BIOLOGICAL-->
         <div class="col-md-3 pull-left" ng-show="showParams">
             <ul>
                 <label><strong>Biological</strong></label>
                 <li style="list-style:none;" ng-repeat="bio in bioParams[0]">
                     <input type="checkbox" ng-model="bio.selected"
                            ng-checked="bio.selected" value="{{bio.PARAMETER_TYPE_ID}}"
                            ng-click="ParamClick(bio)" />
                     <span ng-class="{orange:bio.selected}">{{ bio.PARAMETER }}</span>
                 </li>
             </ul>
         </div>

         <!--MICROBIOLOGICAL-->
         <div class="col-md-3 pull-left" ng-show="showParams">
             <ul>
                 <label><strong>Microbiological</strong></label>
                 <li style="list-style:none;" ng-repeat="mic in microBioParams[0]">
                     <input type="checkbox" ng-model="mic.selected"
                            ng-checked="mic.selected" value="{{mic.PARAMETER_TYPE_ID}}"
                            ng-click="ParamClick(mic)" />
                     <span ng-class="{orange:mic.selected}">{{ mic.PARAMETER }}</span>
                 </li>
             </ul>
         </div>

         <!--Toxicological-->
         <div class="col-md-3 pull-left" ng-show="showParams">
             <ul>
                 <label><strong>Toxicological</strong></label>
                 <li style="list-style:none;" ng-repeat="tox in toxiParams[0]">
                     <input type="checkbox" ng-model="tox.selected"
                            ng-checked="tox.selected" value="{{tox.PARAMETER_TYPE_ID}}"
                            ng-click="ParamClick(tox)" />
                     <span ng-class="{orange:tox.selected}">{{ tox.PARAMETER }}</span>
                 </li>
             </ul>
         </div>

         <br clear="all" />
         <!--submit and cancel buttons-->
         <div class="form-group">
             <div class="col-md-4 col-md-offset-2">
                 <span>
                     <button ng-show="thisSite.SITE_ID == undefined" class="btn btn-primary"
                             style="width:80px;margin-right:10px"
                             ng-click="save(projectForm.SiteInfo.$valid)">
                         <span>Create</span>
                     </button>
                 </span>
                 <!--<span>
                    <button class="btn btn-default" ng-click="cancel()">
                        Back to Site List
                    </button>
                </span>-->
             </div>
         </div>

     </fieldset>
    </formeditable-form>
