<div class="sigl-edit-form">
    <legend style="margin-bottom: 25px; margin-top: 0;">Contacts</legend>
</div>

<!--<button ng-click="delete(c)"><i class="glyphicon glyphicon-remove"></i></button>-->

<div class="form-group" ng-if="ProjContacts.length > 0">

    <div class="current-data-list" ng-repeat="c in ProjContacts">
        <!--<td><button ng-click="RemoveContact(c)"><i class="glyphicon glyphicon-remove"></i></button></td>-->
        <!-- form -->
        <!-- form -->
        <form editable-form name="rowform" onshow="EditRowClicked($index)" onhide="CancelEditRowClick()" onaftersave="saveContact($data, c.CONTACT_ID)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == c">
            <button type="submit" ng-disabled="rowform.$waiting || rowform.$invalid" class="sigl-btn">
                Save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="sigl-btn btn-orange">
                Cancel
            </button>
        </form>

        <div style="display:none">
            <span editable-text="c.CONTACT_ID" e-form="rowform" e-name="CONTACT_ID">{{c.CONTACT_ID}}</span>
            <span editable-text="c.SCIENCE_BASE_ID" e-form="rowform" e-name="SCIENCE_BASE_ID">{{c.SCIENCE_BASE_ID}}xxx</span>
            <span editable-text="c.ORGANIZATION_SYSTEM_ID" e-form="rowform" e-name="ORGANIZATION_SYSTEM_ID">{{c.ORGANIZATION_SYSTEM_ID}}</span>
        </div>
        <!--  contact-display-->
        <div class="data-display">
            <div>
                <label class="title">Name:</label>
                <span editable-text="c.NAME" e-required e-style="width:25em;" e-name="NAME" onbeforesave="checkRequiredFields('name', $data)" e-form="rowform">{{ c.NAME }}</span>
            </div>
            <div>
                <label class="title">Email:</label>
                <span editable-text="c.EMAIL" e-style="width:25em;" e-required e-name="EMAIL" onbeforesave="checkRequiredFields('email', $data)" e-form="rowform"> {{ c.EMAIL || '' }}</span>
            </div>
            <div>
                <label class="title">Phone:</label>
                <span editable-text="c.PHONE" e-mask="(999) 999-9999 x?9?9?9?9?9?" e-restrict="reject" e-style="width:25em;" e-name="PHONE" e-form="rowform">{{ c.PHONE || '' }}</span>
            </div>

            <br>
            <span>{{c.OrgName}}<em ng-if="c.DivName">, {{c.DivName}}</em><em ng-if="c.SecName">, {{c.SecName}}</em></span>
            <div class="showHide">
                <button class="sigl-btn btn-small" ng-click="addNewOrg()">
                    Change Contact's Organization
                </button>
            </div>

        </div>
        <div class="data-controls" ng-show="!rowform.$visible">
            <button class="sigl-btn btn-small" ng-click="rowform.$show()">Edit</button>
            <button class="sigl-btn btn-orange btn-small" ng-click="RemoveContact(c)">Delete</button>
        </div>
    </div>
</div>
<hr ng-if="ProjContacts.length > 0">

<form class="sigl-edit-form" name="projectForm.Contact">

    <fieldset ng-disabled="isEditing">
        <div class="subhead">Add new contact</div>
        <!-- NAME -->
        <div class="sigl-edit-form-group">
            <label class="req" for="inputNAME">
                Name:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the contact's first and last name." data-placement="right" tooltip>
                </span>
            </label>
            <input class="form-control" id="inputNAME" name="NAME" type="text" placeholder="" ng-model="newContact.NAME" required />
        </div>
        <div class="sigl-edit-form-group">
            <label class="req">Organization</label>
            <select style="display:block;" class="form-control" name="NAME" ng-model="selectedOrgID" ng-options="o.ORGANIZATION_ID as o.ORGANIZATION_NAME for o in allOrganizations | orderBy: 'ORGANIZATION_NAME'" ng-change="getDivs(selectedOrgID)" required></select>
            <button class="sigl-form-add-new" ng-click="addNewOrg()">
                Add New
            </button>
        </div>

        <div class="sigl-edit-form-group">
            <label>Division</label>
            <select class="form-control" style="display: block" ng-model="selectedDivID" ng-options="d.DIVISION_ID as d.DIVISION_NAME for d in alldivs | orderBy: 'DIVISION_NAME'" ng-change="getSecs(selectedDivID)"></select>
            <button class="sigl-form-add-new" ng-click="addNewOrg()">
                Add New
            </button>
        </div>

        <div class="sigl-edit-form-group">
            <label>Section</label>
            <select style="display: block" class="form-control" ng-model="selectedSecID" ng-options="s.SECTION_ID as s.SECTION_NAME for s in allsecs | orderBy: 'SECTION_NAME'"></select>
            <button class="sigl-form-add-new" ng-click="addNewOrg()">
                Add New
            </button>
        </div>

        <!-- Email -->
        <div class="sigl-edit-form-group">
            <label class="req" for="inputEMAIL">
                Email:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter the contact's email address." data-placement="right" tooltip></span>
            </label>
            <input type="email" placeholder="" ng-model="newContact.EMAIL" required />
        </div>

        <!-- Phone -->
        <div class="sigl-edit-form-group">
            <label class="req" for="inputPHONE">
                Phone:
                <span class="sigl-tooltip glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="Enter the contact's phone number. To add an extension, immediately following the phone number type 'x' and then the extension number."
                      data-placement="right" tooltip>
                </span>
            </label>
            <input type="text" mask="(999) 999-9999 x?9?9?9?9?9?" restrict="reject" ng-model="newContact.PHONE" ng-value="newContact.PHONE" mask-validate="false" required>            
        </div>


        <!--submit button-->
        <div class="sigl-edit-form-group" style="text-align: right;">
            <button class="sigl-btn" style="width:80px;margin-right:10px" ng-click="AddContact(projectForm.Contact.$valid)">
                Save
            </button>
        </div>

    </fieldset>
</form>
<style type="text/css">
    .showHide {
        display: none;
    }
</style>
