<div ng-if="accountRole =='Admin'">
    <div>....Under development....</div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th class="OrganizationName">Organization Name&nbsp;<a ng-click="Orgsort_by('OrganizationName')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="DivisionName">Division Name&nbsp;<a ng-click="Orgsort_by('DivisionName')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="SectionName">Section Name&nbsp;<a ng-click="Orgsort_by('SectionName')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Projects.length">Project Cnt&nbsp;<a ng-click="Orgsort_by('Projects.length')"><i class="glyphicon glyphicon-sort"></i></a><span ng-if="orgCntLoading"><img style="max-width:20px" src="images/loading1.gif" /></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="org in OrgListModel | orderBy: OrgsortingOrder:Orgreverse">
                <td style="white-space: nowrap">
                    <!-- form 
                    <form editable-form name="orgRowform" onshow="storeExistingOrg(org)" onbeforesave="saveOrg($data, org.OrganizationSystemID)" ng-show="orgRowform.$visible" class="form-buttons form-inline" shown="inserted == org">
                        <button type="submit" ng-disabled="orgRowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="orgRowform.$waiting" ng-click="orgRowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!orgRowform.$visible">
                        <button class="btn btn-primary" ng-click="orgRowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteOrg(org)">del</button>
                    </div>-->
                </td>
                <td>
                    <span editable-textarea="org.OrganizationName" e-rows="1" e-cols="40" e-name="OrganizationName" e-form="orgRowform">{{ org.OrganizationName || '' }}</span>
                </td>
                <td>
                    <span ng-if="org.DivisionName" editable-textarea="org.DivisionName" e-rows="1" e-cols="40" e-name="DivisionName" e-form="orgRowform">{{ org.DivisionName || '' }}</span>


                </td>
                <td>
                    <span ng-if="org.SectionName" editable-textarea="org.SectionName" e-rows="1" e-cols="40" e-name="SectionName" e-form="orgRowform">{{ org.SectionName || '' }}</span>
                </td>
                <td>
                    <span><a ng-click="showProjectCntModal(org.Projects, 'Organization')">{{org.Projects.length}}</a></span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <!--<button ng-show="addOrgButtonShowing" class="btn btn-primary" ng-click="showAddOrgClicked()">Add New Project Status</button>-->

    <div ng-show="showAddOrgForm">
        <form class="form-horizontal" name="newOrgForm">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label req" for="inputSTATUS_VALUE">Project Status:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="inputSTATUS_VALUE" name="STATUS_VALUE" type="text" placeholder="" ng-model="newPS.STATUS_VALUE" required />
                    </div>
                </div>
                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" ng-click="AddProjStatus(lookupForm.projStatFm.$valid, newPS)">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindOrg()">
    Cancel
</button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        //var sortingOrder = 'STATUS_VALUE';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="STATUS_VALUE">Project Status&nbsp;<a ng-click="sort_by('STATUS_VALUE')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ps in projStatusList | orderBy:sortingOrder:reverse">
                <td>{{ ps.STATUS_VALUE || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
