<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="data:;base64,="><!--<link rel="icon" href="data:;base64,iVBORw0KGgo=">-->
    <title>SiGL DMS</title>
    <!--<base href="/">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />


    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- bower:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->


    <!-- Needed for some dev environments -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>



</head>

<body ng-app="app">
    <!--<div ng-include src="'partials/header.html'"></div>-->
    <!--HEADER START-->
    <div ng-controller="mainCtrl" id="main-nav">
        <a href="http://usgs.gov/" target="_blank" id="usgs-logo">
            <img alt="Brand" src="images/usgsLogo.png" />
        </a>
        <h2><b>SiGL</b><em>:</em>Data Management System (DMS)</h2>

        <div id="account-controls" ng-show="isAuth.val">
            <h3>Welcome, <a ui-sref="dataManagers.DMList({id: userID})">{{usersName}}</a></h3>
            <button ng-controller="logoutCtrl" ng-click="logout()">LOG OFF</button>
        </div>


        <ul id="nav-links" ng-show="isAuth.val">
            <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
            <!--
            -->
            <li ng-if="Role == 'Admin'"><a ui-sref="settings" ui-sref-active="active">Settings</a></li>
            <!--
            -->
            <li><a ui-sref="dataManagers.DMList({id: userID})" ui-sref-active="active">Your account</a></li>
            <!--
            -->
            <li><a ui-sref="help" ui-sref-active="active">FAQs/Help</a></li>

        </ul>

    </div>
    <br clear="all" />
    <!--HEADER END-->

    <div ng-class="{'hidden': !stateIsLoading.showLoading}" class="page-loading">
        <div id="loading">
            <div id="loadingcontent"><p id="loadingspinner" style=""><img src="images/loading1.gif" /></p></div>
        </div>
    </div>
    <div id="body-wrapper">
        <div ui-view></div>
    </div>

</body>
</html>

<!-- MODAL for 'new site name' for copy off sitelist -->
<script type="text/ng-template" id="duplicateSiteMdlView.html">
    <div class="modal-header">
        <h3 class="modal-title">Copy Site</h3>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <form name="newSiteName">
                <div class="form-group">
                    <label class="col-md-10 control-label req" for="name">New Site Name:</label>
                    <div class="col-md-12">
                        <input class="form-control" id="name" name="name" ng-enter="ok()" ng-model="newSite.name" type="text" required />
                    </div>
                </div>
            </form><br clear="all" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</script>

<!-- MODALs for "are you sure you want to remove this thing (Keyword or URL) -->
<script type="text/ng-template" id="removemodal.html">
    <div class="modal-header">
        <h3 class="modal-title">Remove {{what}}</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove this {{what}}: <b>{{keyToRmv}}</b></p>
    </div>
    <div class="modal-footer">
        <button class="sigl-btn btn-orange" ng-click="cancel()">Cancel</button>
        <button class="sigl-btn" ng-click="ok()">OK</button>
    </div>
</script>

<!-- MODAL for add new org NAME to database-->
<script type="text/ng-template" id="AddOrganizationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Organizations</h3>
    </div>
    <div class="modal-body">
        <form name="newOrgForm" class="sigl-modal-form">
            <fieldset>
                <div class="sigl-modal-form-group">
                    <label>Organization:</label>
                    <div ng-show="!showAddNAMEinput">
                        <select ng-disabled="disableOrgSelect" ng-model="selectedOrgID.id" ng-options="org.organization_id as org.organization_name for org in orgList | orderBy: 'organization_name'" ng-change="getDivs(selectedOrgID.id)"></select>
                        <span ng-show="!showAddDIVISIONinput && !showAddSECTIONinput" style="display: block; font-size: 8pt;"><a href ng-click="addOrgName()">Add Organization</a></span>
                    </div>
                    <div ng-show="showAddNAMEinput">
                        <input class="form-control" id="name" name="name" ng-model="OrgName.value" type="text" placeholder="New Organization Name" />
                        <button class="sigl-btn btn-small" ng-click="addThisName(OrgName.value)">Add</button>
                        <button class="sigl-btn btn-small" ng-click="neverMind('org')">Cancel</button>
                    </div>
                </div>

                <div class="sigl-modal-form-group">
                    <label>Division</label>
                    <div ng-show="!showAddDIVISIONinput">
                        <select ng-disabled="disableDivSelect" ng-model="selectedDivID.id" ng-options="div.division_id as div.division_name for div in divList | orderBy: 'division_name'" ng-change="getSecs(selectedDivID.id)">
                            <!--<option ng-repeat="div in divList | orderBy: 'division_name'" value="{{div.division_id}}">{{div.division_name}}</option>-->
                        </select>
                        <span ng-show="orgsBeenChosen && !showAddSECTIONinput" style="display: block; font-size: 8pt;"><a href ng-click="addDivName()">Add Division</a></span>
                    </div>
                </div>
                <div ng-show="showAddDIVISIONinput">
                    <input id="inputDIVISION" name="DIVISION" ng-model="divisionName.value" type="text" placeholder="New Division" />
                    <button class="sigl-btn btn-small" ng-click="addThisDivision(divisionName.value, selectedOrgID.id)">Add</button>
                    <button class="sigl-btn btn-small" ng-click="neverMind('div')">Cancel</button>
                </div>

                <div class="sigl-modal-form-group">
                    <label>Section</label>
                    <div ng-show="!showAddSECTIONinput">
                        <select ng-disabled="disableSecSelect" ng-model="selectedSecID.id" ng-options="sec.section_id as sec.section_name for sec in secList | orderBy: 'section_name'" ng-change="setSecs(selectedSecID.id)"></select>
                        <span ng-show="divsBeenChosen" style="display: block; font-size: 8pt;"><a href ng-click="addSecName()">Add Section</a></span>
                    </div>
                    <div ng-show="showAddSECTIONinput">
                        <input id="section" name="section" ng-model="sectionName.value" type="text" placeholder="New Section" />
                        <button class="sigl-btn btn-small" ng-click="addThisSection(sectionName.value, selectedDivID.id)">Add</button>
                        <button class="sigl-btn btn-small" ng-click="neverMind('sec')">Cancel</button>
                    </div>
                </div>       

            </fieldset>
        </form>
        <div style="margin-top:18px;font-size:smaller;font-style:italic;"><a ng-click="sendMail('sigl@usgs.gov', 'Organization Change Request')">Request</a> that an organization name be edited or deleted</div>
    </div>

    <div class="modal-footer" style="margin-top:0;">
        <button class="sigl-btn" ng-click="ok()">Close</button>
    </div>
</script>

<!-- Project List with specific Lookup Modal -->
<script type="text/ng-template" id="lookupProjectListModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Project List</h3>
    </div>
    <div class="modal-body">
        <div>List of Projects that have this {{Type}}:</div>
        <table class="sigl-table">
            <thead>
                <tr>
                    <th class="name">Project Name&nbsp;<a ng-click="plsort_by('Name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="start_date">Start Date&nbsp;<a ng-click="plsort_by('start_date')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="end_date">End Date&nbsp;<a ng-click="plsort_by('end_date')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="DataManager.lname">Data Manager&nbsp;<a ng-click="plsort_by('DataManager.lname')"><i class="glyphicon glyphicon-sort"></i></a></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="pr in ProjectList | orderBy:plsortingOrder:plreverse">
                    <td><a ui-sref="projectEdit.info({id: pr.project_id})">{{pr.name}}</a></td>
                    <td>{{pr.start_date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{pr.end_date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{pr.DataManager.fname}} {{pr.DataManager.lname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()">OK</button>
    </div>

</script>
